<template id="custom-modal" src="./modal.html">
</template>

<script>
import * as testcaseService from '../../services/testcase.service';

export default {
  template: '#custom-modal',
  name: 'customModal',
  props: ['selectedRow', 'title', 'modalId'],
  data() {
    return {
      dataDismiss: 'none',
    };
  },
  computed: {},
  watch: {

  },
  methods: {
    onConfirm() {
      if(this.modalId == 'deleteModal') {
        this.$emit('confirm', this.selectedRow);
      } else {
        this.$emit('confirm');
      }
      $(this.$refs.myModal).modal('hide');
    },
    async onClose() {
      if (this.modalId === 'runModal') {
        // await testcaseService.http.stopTestcase();
      }
      $(this.$refs.myModal).modal('hide');
    }
  }
};
</script>

<style scoped>
  .modal-lg {
    width: 600px !important;
  }
</style>