 <div>
  <div class="modal fade" ref="myModal" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div :class="modalId === 'runModal' ? 'modal-dialog modal-lg' : 'modal-dialog'" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="close" @click="onClose" aria-label="Close">
            <span aria-hidden="true" style="color: black;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <slot name='modal-body'></slot>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="onClose">Close</button>
          <button type="button" class="btn btn-primary" v-if="modalId !== 'runModal'" @click="onConfirm">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>