<template>
  <!-- <div id="app"> -->
  <div id="wrapper" class="animate">
      <Menu/>
    <div class="container">
    <div class="row">
      <div class="col" style="margin-top:10px">
      <router-view/>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Menu from './components/menu/menu.vue';

export default {
  name: 'app',
  components: {
    Menu,
  },
};
</script>

