<template id="input" src="./action.html">
</template>

<script>
export default {
  template: '#input',
  name: 'Input',
  props: ['index', 'action'],
  data() {
    return {
      actions: [
        { value: 'input', name: 'Set Value' },
        { value: 'pause', name: 'Pause' },
        { value: 'refresh-page', name: 'Refresh Page' },
        { value: 'keys', name: 'Press Key (keyboard)' },
        { value: 'url', name: 'Url' },
        { value: 'click', name: 'Click' },
        { value: 'r-click', name: 'Right Click' },
        { value: 'd-click', name: 'Double Click' },
        { value: 'click-dropdown', name: 'Emit click event' },
        { value: 'select-by-visible-text', name: 'Select_tag: Select by Visible Text' },
        { value: 'middle-click', name: 'Middle Click' },
        { value: 'move-to-object', name: 'Move Pointer To Object' },
        { value: 'upload', name: 'Upload File' },
        { value: 'drag-drop', name: 'Drag & Drop' },
        { value: 'move-element', name: 'Move Element' },
        { value: 'resize', name: 'SVG Resize' },
        { value: 'rotate', name: 'SVG Transform Rotate' },
        { value: 'checked', name: 'Tick checkbox' },
        { value: 'unchecked', name: 'Untick checkbox' },
      ],
      combinedTCName: null,
      visibleElement: {},
      dataInput: {
        id: null,
        action: 'input',
        order: null,
        element: null,
        elementTo: null,
        value: null,
        waiting_time: 0,
        xFrom: 0,
        yFrom: 0,
        xTo: 0,
        yTo: 0,
        combinedTC: null
      },
      elementName: {
        element: 'Element',
        elementTo: 'Element To',
        offsetX: 'Xoffset',
        offsetY: 'Yoffset',
      }
    };
  },
  computed: {},
  watch: {
    action: {
      handler: function () {
        this.setupElementVisible();
      },
      deep: true,
    },
  },
  methods: {
    removeElement() {
      this.$emit('remove', this.index);
    },
    changeTypeInput() {
      this.setupElementVisible();
    },
    setupElementVisible() {
      let visibleRule = [];
      this.visibleElement = { 
        element2: false, element: false, waiting_time: false, 
        value: false, coordX: false, coordY: false, script: false,
      };
      this.elementName = { element: 'Element', elementTo: 'Element To', offsetX: 'Xoffset', offsetY: 'Yoffset' };

      switch (this.action.action) {
        case 'refresh-page': 
          visibleRule = ['waiting_time'];
          break;
        case 'pause': 
          visibleRule = ['value'];
          break;
        case 'upload':
        case 'input':
          visibleRule = ['element', 'waiting_time', 'value'];
          break;
        case 'drag-drop':
          visibleRule = ['element2', 'element', 'waiting_time', 'coordX', 'coordY'];
          break;
        case 'move-element':
        case 'move-to-object':
          visibleRule = ['coordX', 'coordY', 'element', 'waiting_time'];
          break;

        case 'url':
          visibleRule = ['value'];
        break;

        case 'keys':
          visibleRule = ['value', 'waiting_time'];
        break;

        case 'resize':
          visibleRule = ['element', 'waiting_time', 'coordX', 'coordY'];
          this.elementName.offsetX = 'Width';
          this.elementName.offsetY = 'Height';
          break;

        case 'rotate':
          visibleRule = ['element', 'waiting_time', 'coordX'];
          this.elementName.offsetX = 'Rotation';
          break;

        case 'click-value':
          visibleRule = ['value'];
          break;

        case 'r-click':
        case 'd-click':
        case 'click':
          visibleRule = ['element', 'waiting_time'];
          break;

        case 'select-by-visible-text':
          visibleRule = ['element', 'value', 'waiting_time'];
          break;
        
        case 'script':
          visibleRule = ['waiting_time', 'script'];
          break;

        default:
          visibleRule = ['element', 'waiting_time'];
          break;
      }

      for(const vRule of visibleRule) {
        this.visibleElement[vRule] = true;
      }
    },
    onInsertBelow() {
      this.$emit('insert-below', this.index);
    },
    chooseSwap() {
      this.$emit('onSwap', {value: !this.action.swap, index: this.index});
    }
  },
  beforeMount() {
    this.setupElementVisible()
  },
};
</script>
