<div class="backgroud-step">
    <a class="f-left cusfa cus-add" @click="chooseSwap" data-toggle="tooltip" data-placement="top" title="Change Order">
        <i class="fas fa-retweet c-blue" :style="action.swap == true ? 'color:red' : ''"></i>
    </a>
    <a @click="onInsertBelow" class="f-left cusfa cus-add" data-toggle="tooltip" data-placement="top" title="Add New">
        <i class="fas fa-plus c-blue "></i>
    </a>
    <a class="btn expand" v-if="action.combinedTC != null" style="box-shadow: none; color:#007bff" data-toggle="collapse"
        :href="'#collapseExample' + index" role="button" aria-expanded="false" aria-controls="collapseExample">
        Action {{index}} from TestCase: '{{action.combinedTC}}'
        <i class="fas fa-angle-right m-l-10"></i>
    </a>
    <!-- <a class="btn expand" :style="action.command !== null ? 'color:red' : action.script !== null ? 'color: green' : ''" v-else style="box-shadow: none;"
        data-toggle="collapse" :href="'#collapseExample' + index" role="button" aria-expanded="false" aria-controls="collapseExample">
        Action {{index}}
        <i class="fas fa-angle-right"></i>
    </a> -->
    <a class="btn expand" :style="action.command !== null ? 'color:red' : action.script !== null ? 'color: green' : ''" v-else style="box-shadow: none;"
        data-toggle="collapse" :href="'#collapseExample' + index" role="button" aria-expanded="false" aria-controls="collapseExample">
        Action {{index}}
        <a v-if ="action.command !== null" >: Command: {{ action.command.name }}</a>
        <a v-if ="action.script !== null" >: Script: {{ action.script.name }}</a>
        <i class="fas fa-angle-right m-l-10"></i>
    </a>
    <slot name="combine-button">
    </slot>
    <a @click="removeElement(index)" class="cusfa f-right m-r-10">
        <i class="fas fa-times cus-remove"></i>
    </a>

    <div class="collapse" :id="'collapseExample' + index">
        <div class="card card-body">
            <div v-if="action.command === null && action.script === null">
                <div class="form-row ">
                    <div class="form-group col-md-4">
                        <label for="action">Action</label>
                        <select class="form-control" v-model="action.action" @change="changeTypeInput">
                            <option v-for="option in actions" :value="option.value">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4" v-if="visibleElement.waiting_time">
                        <label for="waiting_time">Waiting Time</label>
                        <input type="number" v-model="action.waiting_time" v-validate="'required'" name="input-wait"
                            class="form-control" id="wait" aria-describedby="emailHelp" placeholder="Enter Waiting Time">
                        <span style="color: red">{{ errors.first('input-wait') }}</span>
                    </div>
                </div>
                <!-- 2 Element -->
                <div class="form-row" v-if="visibleElement.element">
                    <div class="form-group col-md-8">
                        <label for="element">{{elementName.element}}</label>
                        <textarea type="text" v-model="action.element" v-validate="'required'" name="input-element"
                            class="form-control" id="element" aria-describedby="emailHelp" placeholder="Enter Element"
                            rows="3"></textarea>
                        <span style="color: red">{{ errors.first('input-element') }}</span>
                    </div>
                    <div class="form-group col-md-2" v-if="visibleElement.coordX">
                        <label for="inputZip">{{elementName.offsetX}}</label>
                        <input type="number" v-model="action.xFrom" class="form-control" min="1">
                    </div>
                    <div class="form-group col-md-2" v-if="visibleElement.coordY">
                        <label for="inputZip">{{elementName.offsetY}}</label>
                        <input type="number" v-model="action.yFrom" class="form-control">
                    </div>
                </div>
                <div class="form-row" v-if="action.action == 'drag-drop'">
                    <div class="form-group col-md-8">
                        <label for="element">{{elementName.elementTo}}</label>
                        <textarea type="text" v-model="action.elementTo" v-validate="'required'" name="input-element-to"
                            class="form-control" id="element" aria-describedby="emailHelp" placeholder="Enter Element"
                            rows="3"></textarea>
                        <span style="color: red">{{ errors.first('input-element-to') }}</span>
                    </div>
                </div>
                <div class="form-group" v-if="visibleElement.value">
                    <label for="value">Value</label>
                    <input type="text" v-model="action.value" class="form-control" id="value" placeholder="Enter Value">
                </div>
            </div>
            <!-- Command Element -->
            <div class="form-group" v-if="action.command !== null">
                
                <div v-if="action.command.command_actions.length > 0" v-for="commandAction in action.command.command_actions">
                    <div v-if="commandAction.command_params_info.length > 0" v-for="commandParamInfo in commandAction.command_params_info">
                        <div class="form-group col-md-10">
                            <label for="waiting_time">Param: {{commandParamInfo.name}}</label>
                            <input type="text" v-model="commandParamInfo.command_params_value[0].value" :name="commandParamInfo.name + '0'"
                                class="form-control" :id="commandParamInfo.name + '0'" aria-describedby="paramValue"
                                placeholder="Enter Param Value">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Script Element -->
            <div class="form-group" v-if="action.script !== null">
                <div class="form-group col-md-4" >
                        <label for="waiting_time_script">Waiting Time</label>
                        <input type="number" v-model="action.waiting_time" v-validate="'required'" name="waiting_time_script"
                            class="form-control" aria-describedby="emailHelp" placeholder="Enter Waiting Time">
                        <span style="color: red">{{ errors.first('input-wait') }}</span>
                    </div>
                <div class="form-group col-md-10" v-for="(param, index) in action.script.script_params_info">
                    <label :for="'param' + index">Param: {{param.name}}</label>
                    <input type="text" v-model="param.script_params_value[0].value" name="output-value" class="form-control"
                        :id="'param' + index" aria-describedby="element" placeholder="Enter Params Value">
                </div>
            </div>
        </div>
    </div>
</div>