<div>
    <Table :rows="rows" :options="tableOptions" @delete="onDelete" @search="onSearch" @save-project="saveProject"
    @filter="filter" @save-tag="saveTag" @add-project="addProject" @add-tag="addTag" @reload="getTestCases(); getOptions()"
    @delete-multi="onDeleteIds" @swap-testcase="onSwapTestcase"/>
    <strong>Total Records: </strong>{{totalRecords}}
    <Pagination  :total-records="totalRecords" :current-page="query.pageNum + 1" 
    :per-page="query.perPage"  @change-page="onChangePage"/>
</div>