<template id="dashboard" src="./dashboard.html">
</template>

<script>
import Table from './../table/table.vue';
import Pagination from './../pagination/pagination.vue';
import * as testcaseService from '../../services/testcase.service';
import * as projectService from '../../services/project.service';
import * as tagService from '../../services/tag.service';

export default {
  template: '#dashboard',
  name: 'Dashboard',
  props: [],
  data() {
    return {
      query: {
        perPage: 10,
        pageNum: 0,
        search_term: null,
        projectID: null,
        tags: []
      },
      rows: [],
      tableOptions: {
        projects: [],
        tags: [],
      },
      totalRecords: null,
    };
  },
  computed: {},
  async mounted() {
    await this.getTestCases();
    await this.getOptions();
  },
  methods: {
    async getTestCases() {
      const res = await testcaseService.http.getTestCases(this.query);
      this.rows = res.testcases;
      this.totalRecords = res.total;
    },
    async onDelete (testcaseId) {
      await testcaseService.http.deleteTestcase(testcaseId);
      await this.getTestCases();
    },
    async onSearch(search_term) {
      this.query.search_term = search_term;
      await this.getTestCases();
    },
    async onChangePage(page) {
      this.query.pageNum = page;
      await this.getTestCases();
    },
    async saveProject (project) {
      await projectService.http.save(project)
      await this.getOptions()
      await this.getTestCases()
    },
    async saveTag (tag) {
      await tagService.http.save(tag)
      await this.getOptions()
      await this.getTestCases()
    },
    async getOptions () {
      const resProjects = await testcaseService.http.getProjects()
      const resTags = await testcaseService.http.getTags()

      this.tableOptions = {
        projects: resProjects,
        tags: resTags
      }
    },
    async filter(filterData) {
      this.query.projectID = filterData.project;
      this.query.tags = [...filterData.tags];
      await this.getTestCases()
    },
    async addProject(data) {
      await testcaseService.http.updateProject(data);
      await this.getTestCases()
    },
    async addTag(data) {
      await testcaseService.http.updateTags(data);
      await this.getTestCases()
    },
    async onDeleteIds (ids) {
      await testcaseService.http.deleteMulti(ids);
      await this.getTestCases()
    },
    async onSwapTestcase (ids) {
      await testcaseService.http.swapTestcase(ids);
    }
  },
  components: {
    Table,
    Pagination,
  },
};
</script>

