<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/terminal.css">
    {{!-- production --}}
    <link rel="icon" href="./dist/favicon.ico">
    <link rel="stylesheet" href="./dist/css/custom.css">
    <link rel="stylesheet" href="./dist/css/app.ee59baa6.css">
    {{!-- end production --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <title>Test Case Management</title>
</head>

<body>
    <div id="app">
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="./js/menu.js"></script>
    <!-- <script type="text/javascript" src="http://localhost:8080/app.js"></script> -->
    {{!-- production --}}
    <script src="./dist/js/app.95fbdcc4.js"></script>
    <script src="./dist/js/chunk-vendors.a51b6707.js"></script>
    {{!-- end production --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
</body>

</html>