.m-r-5 {
    margin-right: 5px;
}

.m-t-0 {
    margin-top: 0px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-b-5 {
    margin-bottom: 5px;
}

.m-l-10 {
    margin-left: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.p-l-10 {
    padding-left: 10px;
}
.cusfa{
    font-size: 14pt;
    margin-left: 10px;
    cursor: pointer;
}
.cus-add {
    margin-top: 4px;
}
.cus-remove {
    margin-top: 10px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.c-blue {
    color: #007bff;
}

.c-black {
    color: black;
}
.f-30 {
    font-size: 30px;
}
.backgroud-step {
    background-color: rgb(231, 231, 222);
    margin-top: 10px;
    padding: 2px;
}
#ba-output, #ba-input, #ba-input-command{
    margin-top: 25px!important;    
}
.backgroud-out {
    background-color: rgb(231, 231, 222);
    margin-top: 10px;
    padding: 2px;
}

.table thead th, tbody tr {
    text-align: center;
}
li.page-item.active .page-link:hover {
    color: #fff;
    background-color: #007bff!important;
    border-color: #007bff;
}
/* a.collapsed > i:before{
    content: "\f105"!important;
}
a.expand > i:before{
    content: "\f107";
} */
.expand.collapsed > i:before {
    content: "\f105"!important;
    /* border-left: 1px solid hsla(0,0%,80%,.43); */
  }
.expand[aria-expanded="true"] > i:before {
content: "\f107"!important;
/* border-left: 1px solid hsla(0,0%,100%,.65); */
}

.checkboxTable {
    width: 16px;
    height: 16px;
    /* background: #007bff; */
}
.custom-control-label::before {
    background-color: #fff ;
    border: 1px solid #ccc; 
}
.custom-control-label::after {
    background-size: 75% !important;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0 !important;
}
.custom-table {
    overflow-x: auto;
    margin-top: 10px;
    max-height: 500px;
}

.multiselect__element > span > span {
    color: initial;
    font-weight: 500!important;
}

.multiselect__content > .multiselect__element:hover > span > span {
    color: #fff!important;
}
div.multiselect.form-control {
    padding: 0!important;
    border: none!important;
}
.multiselect__tags {
    border: 1px solid #ced4da!important;
}
.div-param {
    height: 38px;
}
.name-param {
    width: 95px;
    float: left;
    margin-top: -7px;
    /* margin-bottom: 15px; */
}

.checkbox-param {
    max-width: 300px;
    float: left;
}

.cus-select-param {
    float: left; 
    margin-left: 15px; 
    margin-top: -7px; 
    width: 200px;
    margin-right: 5px
}

.element-param {
    width:97px;
    float: left;
    margin-top: -7px;
    /* margin-bottom: 15px; */
}
.element-param-larg {
    width:200px;
    float: left;
    margin-top: -7px;
    margin-left: 10px;
    /* margin-bottom: 15px; */
}
.value-param {
    width: 155px;
    float: left;
    margin-top: -7px;
    /* margin-bottom: 15px; */
}
.custom-tab-a {
    border: none;
    
}
.custom-navtab {
    border: none!important;
}
.custom-navtab > .nav-item {
    margin-bottom: 0.5rem!important;
}
.custom-navtab > li:first-child {
    border-right: 1px solid #333!important;
}
.nav-link.custom-tab-a.active, .custom-tab-a.nav-link {
    border: none!important;
    padding-top: 0!important;
    color:#212529;
    padding-bottom: 0!important;
}
.nav-link.custom-tab-a.active {
    font-weight: 700;
}
/* .none-outline:focus{
    box-shadow:none!important;
} */
