.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  /* top: 6px; */
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 550px;
  height: 300px;
  overflow: auto;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p.line {
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #fff;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink .5s 1s 2 forwards;
  -moz-animation: blink .5s 1s 2 forwards;
  -o-animation: blink .5s 1s 2 forwards;
  animation: blink .5s 1s 2 forwards;
}

.line2 {
  color: rgb(15, 174, 236);
  -webkit-animation: type .5s 1.25s steps(20, end) forwards;
  -moz-animation: type .5s 1.25s steps(20, end) forwards;
  -o-animation: type .5s 1.25s steps(20, end) forwards;
  animation: type .5s 1.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink .5s 1.25s 2 forwards;
  -moz-animation: blink .5s 1.25s 2 forwards;
  -o-animation: blink .5s 1.25s 2 forwards;
  animation: blink .5s 1.25s 2 forwards;
}

.line3 {
  color: rgb(13, 238, 13);
  -webkit-animation: type .5s .5s steps(20, end) forwards;
  -moz-animation: type .5s .5s steps(20, end) forwards;
  -o-animation: type .5s .5s steps(20, end) forwards;
  animation: type .5s .5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink .5s .5s 2 forwards;
  -moz-animation: blink .5s .5s 2 forwards;
  -o-animation: blink .5s .5s 2 forwards;
  animation: blink .5s .5s 2 forwards;
}

.line4 {
  color: rgb(230, 33, 15);
  -webkit-animation: type .5s .5s steps(20, end) forwards;
  -moz-animation: type .5s .5s steps(20, end) forwards;
  -o-animation: type .5s .5s steps(20, end) forwards;
  animation: type .5s .5s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink .5s .5s infinite;
  -moz-animation: blink .5s .5s infinite;
  -o-animation: blink .5s .5s infinite;
  animation: blink .5s .5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 100%;
  }
}

@-moz-keyframes type {
  to {
    width: 100%;
  }
}

@-o-keyframes type {
  to {
    width: 100%;
  }
}

@keyframes type {
  to {
    width: 100%;
  }
}