<div>
    <strong>Script:</strong>
    <hr />
    <div class="form-group">
        <label for="action">Name Script</label>
        <input type="text" name="name-object" v-model="script.name" class="form-control" id="name-object"
            aria-describedby="Name Script" placeholder="Enter Name Script">
    </div>
    <div class="form-group">
        <label for="project">Project</label>
        <select class="form-control mb-2" v-model="script.project">
            <option v-for="option in options.projects" :value="option">{{option.name}}</option>
        </select>
    </div>

    <div class="form-group ">
        <button type="button" class="btn btn-outline-primary f-right m-b-10" @click="onAddParam">
            <i class="fas fa-plus m-r-5"></i>Add Param</button>
        <label for="action">Script Content</label>
        <div class="div-param m-b-10" v-for="(param, index) in script.script_params_info">
            <div class="custom-control custom-checkbox checkbox-param">
                <input type="checkbox" v-model="param.checked" class="custom-control-input" :id="'param' + index">
                <label class="custom-control-label" :for="'param' + index">Param #param{{ index }}# </label>
            </div>
            <div class="element-param-larg">
                <input type="text" name="name-param" class="form-control" v-model="param.name" id="name"
                    aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div style="margin-left: 5px" class="value-param">
                <input type="text" name="replace-value" v-model="param.default_value" class="form-control" id="replace"
                    aria-describedby="emailHelp" :placeholder="'Default #param' + index + '#'">
            </div>
            <a @click="removeParam(index)" class="cusfa m-r-10">
                <i class="fas fa-times m-t-0"></i>
            </a>
        </div>
        <textarea type="text" name="input-wait" rows="3" v-model="script.content" class="form-control" id="element-object"
            aria-describedby="Script Content" placeholder="Enter Script Content">
        </textarea>
    </div>
    <!-- <strong>Method:</strong>
    <button type="button" class="btn btn-outline-primary f-right m-b-10" @click="onAddMethod">
        <i class="fas fa-plus m-r-5"></i>Add Method</button>
    <hr/>
    <div class="row" v-for="method in object.methods">
        <div class="form-group col-6">
            <label for="action">Name Method</label>
            <input type="text" v-model="method.name" name="name-method" class="form-control" id="name-method" aria-describedby="Name Method" placeholder="Enter Name Method">
        </div>
        <div class="form-group col-6">
            <label for="action">Script</label>
            <textarea type="text"  name="script-method" v-model="method.script"
                class="form-control" id="script-method" aria-describedby="Script" placeholder="Enter Script">
            </textarea>
        </div>
    </div> -->
    <hr />
    <div class="m-b-10">
        <div class="alert alert-primary" role="alert" style="margin-top: 10px" v-if="showAlertSave">
            Save Successful! ~
        </div>
        <div class="alert alert-light" role="alert" style="margin-top: 10px">
            <p> - Pls type name for this object before SAVE! ~</p>
        </div>

        <button type="button" :disabled="!enableSave" @click.prevent="onSave" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save</button>
        <button type="button" :disabled="!enableSave" @click.prevent="onSaveCopy" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save
            & Copy</button>
        <button type="button" :disabled="!enableSave" @click.prevent="onSaveNew" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save
            & New</button>

    </div>
</div>