<template id="objects-form" src="./custom_script.html">
</template>

<script>
  import * as customScriptServices from '../../../services/customScript.service';
  import * as testcaseService from '../../../services/testcase.service';

  export default {
    template: '#objects-form',
    name: 'ScriptForm',
    props: [],
    data() {
      return {
        removedParams: [],
        script: {
          id: null,
          script_params_info: [],
          name: null,
          content: null,
          project: null,
        },
        options: {
          projects: [],
        },
        showAlertSave: false,
        enableSave: false,
        mockParam: {
          id: null,
          name: null,
          alias: null,
          default_value: null,
          checked: false,
        },
      };
    },
    computed: {},
    watch: {
      script: {
        handler: function() {
          let step1, step2;
          if (!this.script.name) {
            this.enableSave = false;
          } else {
            step1 = true;
          }

          if (this.script.script_params_info.length > 0) {
            const temp = this.script.script_params_info.filter(item => {
              return item.name === null || item.name === '';
            });

            if (temp.length > 0) {
              this.enableSave = false;
            } else {
              step2 = true;
            }
          } else {
            step2 = true;
          }

          if (step1 && step2) {
            this.enableSave = true;
          }
        },
        deep: true,
      },
    },
    methods: {
      initData() {
        this.script = {
          id: null,
          script_params_info: [],
          project: null,
          name: null,
          content: null,
        };
      },
      onAddParam() {
        this.mockParam.alias =
          '#param' + this.script.script_params_info.length.toString() + '#';
        this.mockParam.name =
          'param' + this.script.script_params_info.length.toString();
        this.script.script_params_info.push({ ...this.mockParam });
      },
      removeParam(index) {
        if (
          this.script.script_params_info[index] &&
          this.script.script_params_info[index].id !== null
        ) {
          this.removedParams.push(this.script.script_params_info[index].id);
        }
        this.script.script_params_info.splice(index, 1);
        this.script.script_params_info = this.script.script_params_info.map(
          (item, index) => {
            item.alias = '#param' + index + '#';
            return item;
          },
        );
      },
      async save() {
        if (this.script.name === null) {
          return;
        }

        this.script.script_params_info = this.script.script_params_info.filter(
          item => {
            return item.name !== null;
          },
        );

        const res = await customScriptServices.http.save(this.script);

        if (this.removedParams.length > 0) {
          await customScriptServices.http.removeParams(this.removedParams);
        }

        return res;
      },
      async onSave() {
        const res = await this.save();
        if (res) {
          this.showAlertSave = true;
          this.$router.push('/scripts-table');
        }
      },
      async onSaveCopy() {
        const res = await this.save();

        if (res) {
          this.showAlertSave = true;
          this.$router.push('/script');
          this.script.id = null;
          this.script.script_params_info = this.script.script_params_info.map(
            item => {
              item.id = null;
              return {
                checked: true,
                ...item,
              };
            },
          );
          this.showAlertSave = false;
        }
      },
      async onSaveNew() {
        const res = await this.save();

        if (res) {
          this.showAlertSave = true;
          this.$router.push('/script');
          this.initData();
          this.showAlertSave = false;
        }
      },
      async getCustomScript(id) {
        this.script = await customScriptServices.http.getCustomScript(id);
        this.script.script_params_info = this.script.script_params_info.map(
          item => {
            return {
              checked: true,
              ...item,
            };
          },
        );
      },
    },
    async mounted() {
      this.options.projects = await testcaseService.http.getProjects();
      this.initData();
      this.removedParams = [];
      if (this.$route.params.id) {
        await this.getCustomScript(this.$route.params.id);
      }
    },
  };
</script>
