<div>
    <h1>Projects Management</h1>
    <SharedTable @delete="selectedRow = $event" :rows="rows" @create="selectedRow.id = null; selectedRow.name = null" @edit="onEdit"
    @search="onSearch"/>
    <Pagination :total-records="totalRecords" :current-page="query.pageNum + 1" :per-page="query.perPage" @change-page="onChangePage"
    />
    <customModal modal-id="deleteModal" title="Delete Tag" @confirm="onDelete()">
        <template slot="modal-body">
            <strong>Are you sure to delete this project?</strong>
        </template>
    </customModal>
    <customModal modal-id="tagModal" :title="selectedRow.id==null ? 'Create Project' : 'Edit Project'" @confirm="save()">
        <template slot="modal-body">
            <div class="form-group">
                <label for="element">Name</label>
                <input type="text" v-model="selectedRow.name" v-validate="'required'" name="project-name" class="form-control" id="projectName"
                    aria-describedby="Project Name" placeholder="Enter Project Name">
                <span style="color: red">{{ errors.first('project-name') }}</span>
            </div>
            <!-- <tag :tag="selectedRow" :is-saving="isSavingTag" @save="tag = $event;" /> -->
        </template>
    </customModal>

</div>