<template id="project" src="./project.html">
</template>

<script>
import SharedTable from './../shared/table/table.vue';
import customModal from './../modal/modal.vue';
import Pagination from './../pagination/pagination.vue';
import * as projectService from '../../services/project.service';

export default {
  template: '#project',
  name: 'Project',
  props: ['project', 'isSaving'],
  data() {
    return {
      query: {
        perPage: 10,
        pageNum: 0,
        search_term: null,
      },
      rows: [],
      selectedRow: {
        id: null,
        name: null
      },
      totalRecords: null,
    }
  },
  computed: {},
  watch: {
    isSaving () {
      this.$emit('save', this.selectedRow);
    }
  },
  methods: {
    async onChangePage(page) {
      this.query.pageNum = page;
      await this.getProjects();
    },
    async onDelete () {
      await projectService.http.delete(this.selectedRow);
      await this.getProjects();
    },
    async getProjects () {
      const res = await projectService.http.getProjects(this.query);
      this.rows = res.projects;
      this.totalRecords = res.total;
    },
    async save() {
      await projectService.http.save(this.selectedRow);
      await this.getProjects();
    },
    async onSearch(search_term) {
      this.query.search_term = search_term;
      await this.getProjects();
    },
    onEdit ($event) {
      this.selectedRow = Object.assign({}, $event);
    }
  },
  async mounted() {
    await this.getProjects();
  },
  components: {
    SharedTable,
    customModal,
    Pagination
  }
};
</script>

