<template id="objectsTable" src="./custom_script-table.html">
</template>

<script>
import * as customScriptService from '../../../services/customScript.service.js';
import customModal from './../../modal/modal.vue';
import Pagination from './../../pagination/pagination.vue';
import * as testcaseService from '../../../services/testcase.service.js';

export default {
  template: '#objectsTable',
  name: 'objectsTable',
  props: [],
  data() {
    return {
      query:{
        perPage: 10,
        pageNum: 0,
        search_term: null,
        project: null,
      },
      options: {
        projects: [],
      },
      selectAll: false,
      rows: [],
      total: 0,
    };
  },
  methods: {
    async onQuery () {
      const res = await customScriptService.http.onQuery(this.query);

      this.rows = res.customScript.map(item => {
        return {
          ...item,
          selected: false
        }
      });
      this.total = res.total;
    },
    async onSearch() {
      await this.onQuery();
    },
    async onChangePage(page) {
      this.query.pageNum = page;
      await this.onQuery();
    },
    async getProject () {
      this.options.projects = await testcaseService.http.getProjects();
    },
    onSelectAll() {
      const _this = this;
      setTimeout(() => {
        _this.rows = _this.rows.map(item => {
          item.selected = _this.selectAll;
          return item;
        });
      }, 100);
    },
    checked(item) {
      item.selected = !item.selected;
      if (item.selected === false) {
        this.selectedAll = false;
      }
    },
    async onDeleteMultiple () {
      const rowSelected = this.rows.filter(item => {
        return item.selected === true;
      }).map(item => {return item.id});

      if (rowSelected.length > 0) {
        await customScriptService.http.deleteMulti(rowSelected); 
        await this.onQuery();
      }
    }
  },
  components: {
    customModal,
    Pagination,
  },
  async mounted () {
    await this.onQuery()
    await this.getProject()
  }
};
</script>



