<template id="menu" src="./menu.html">
</template>

<script>

export default {
  template: '#menu',
  name: 'Menu',
  props: [],
  data() {
    return {

    };
  },
  computed: {

  },
  methods: {

  },
};

</script>
