<nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <a class="navbar-brand" href="#">TestCases Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i> Submenu
                    <i class="fas fa-user shortmenu animate"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            <li class="nav-item">
                <router-link class="nav-link " to="/" title="Dashboard">
                    <i class="fas fa-home icon-cus"></i> Dashboard
                    <i class="fas fa-home shortmenu animate f-30"></i>
                </router-link>
            </li>
            <!-- <li class="nav-item">
                <router-link class="nav-link" to="/testcases" title="New Testcase">
                    <i class="fab fa-wpforms icon-cus"></i> New Testcase
                    <i class="fas fa-newspaper shortmenu animate f-30"></i>
                </router-link>
            </li> -->
            <li class="nav-item">
                <router-link class="nav-link" to="/tags" title="New Testcase">
                    <i class="fas fa-tags icon-cus"></i> Tags
                    <i class="fas fa-tags shortmenu animate f-30"></i>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/projects" title="Project">
                    <i class="fas fa-project-diagram icon-cus"></i> Projects
                    <i class="fas fa-project-diagram shortmenu animate f-30"></i>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/command-table" title="Command">
                    <i class="fas fa-terminal icon-cus"></i> Command
                    <i class="fas fa-terminal shortmenu animate f-30"></i>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/scripts-table" title="Objects">
                    <i class="fab fa-js-square icon-cus"></i> Custom Script
                    <i class="fab fa-js-square shortmenu animate f-30" style="margin-right: 10px"></i>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" to="/default-params" title="Objects">
                    <i class="fab fa-pinterest-p icon-cus"></i> Params
                    <i class="fab fa-pinterest-p shortmenu animate f-30" style="margin-right: 10px"></i>
                </router-link>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-user"></i> Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-key"></i> Logout</a>
            </li> -->
        </ul>
    </div>
</nav>