<div>
    <div class="row">
        <div class="form-group col-6">
            <label for="site">Name</label>
            <input type="text" v-model="testcase.name" class="form-control" id="site" aria-describedby="testcase name"
                placeholder="Enter name">
        </div>
        <div class="form-group col-6">
            <label for="site">Issue</label>
            <input type="text" v-model="testcase.issueLink" class="form-control" id="issue" aria-describedby="Link issue"
                placeholder="Enter issue">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="project">Project</label>
            <select class="form-control mb-2" v-model="testcase.project" @change="onFilterCommandByProject">
                <option v-for="option in options.projects" :value="option">{{option.name}}</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="tag">Tags</label>
            <multiselect v-model="testcase.tags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag"
                label="name" track-by="name" :options="options.tags" :multiple="true" :taggable="true" :hide-selected="true"></multiselect>
        </div>

    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="is_mobile_mode" v-model="testcase.is_mobile_mode" >
        <label class="custom-control-label" for="is_mobile_mode">Run on Mobile Mode</label>
    </div>
    <hr />
    <strong>Actions:</strong>
    <button type="button" class="btn btn-outline-primary" @click="onInsertInputBelow(testcase.actions.length)" style="float: right">
        <i class="fas fa-plus m-r-5"></i>Add New Step</button>

    <button style="margin-left: 20px" data-toggle="modal" data-target="#combineCommand" type="button" class="btn btn-outline-danger">
        <i class="fas fa-plus m-r-5"></i>Add Command</button>
    <button style="margin-left: 20px" data-toggle="modal" data-target="#combineScripts" type="button" class="btn btn-outline-success">
        <i class="fas fa-plus m-r-5"></i>Add Script</button>
    <button style="margin-left: 20px" data-toggle="modal" data-target="#combineTestCase" type="button" class="btn btn-outline-info">
        <i class="fas fa-plus m-r-5"></i>Add Testcase</button>

    <!-- Actions -->
    <div id="ba-input">
        <div v-for="(action, index) in testcase.actions" :key="'input' + index">
            <Input :action="action" :index="index + 1" @remove="removeElement($event, 'action')" @insert-below="onInsertInputBelow"
                @onSwap="onClickSwapItem" />
        </div>
    </div>
    
    <!-- End Actions -->
    <hr />
    <strong>Expected results:</strong>
    <button type="button" class="btn btn-outline-primary" @click="onAddOutput(testcase.outputs.length)" style="float: right">
        <i class="fas fa-plus m-r-5"></i>Add New Output</button>
    <button data-toggle="modal" data-target="#outputScript" type="button" class="btn btn-outline-success" style="margin-left: 20px">
        <i class="fas fa-plus m-r-5"></i>Add Script</button>
    <!-- Outputs -->
    <div id="ba-output">
        <div v-for="(output, index) in testcase.outputs">
            <Output :output="output" :index="index" :key="'output' + index" :actions-run-script="options.actionsRunScript"
                @remove="removeElement($event, 'output')" />
        </div>
    </div>
    
    <!-- End Outputs -->

    <hr />
    <div class="m-b-10">
        <div class="alert alert-primary" role="alert" style="margin-top: 10px" v-if="showAlertSave">
            Save Successful! ~
        </div>
        <div class="alert alert-light" role="alert" style="margin-top: 10px" v-if="testcase.name === null || testcase.name === ''">
            <p> - Pls type name for this testcase before SAVE! ~</p>
            <p> - Run not SAVE data! ~ </p>
        </div>
        <button type="button" :disabled="enabledButton" @click.prevent="onRun" v-on:keyup.enter="onSubmit" class="btn btn-primary"
            style="margin-top: 10px">Run</button>

        <button type="button" :disabled="enabledButton" @click.prevent="onSave" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save</button>
        <button type="button" :disabled="enabledButton" @click.prevent="onSaveCopy" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save
            & Copy</button>
        <button type="button" :disabled="enabledButton" @click.prevent="onSaveNew" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save
            & New</button>

    </div>
    <Result :results="results" />

    <customModal modal-id="combineTestCase" title="COMBINE TESTCASE" @confirm="onCombineTC(combine.testcase)">
        <template slot="modal-body">
            <div class="form-group col-md-12">
                <label for="element">Select testcase to combine</label>
                <select id="inputState" class="form-control" v-model="combine.testcase">
                    <option value="" selected>None</option>
                    <option v-for="option in options.testcases" :value="option.id">{{option.name}}</option>
                </select>
            </div>
        </template>
    </customModal>
    <customModal modal-id="combineCommand" title="COMBINE COMMAND" @confirm="onCombineCommand(combine.command)">
        <template slot="modal-body">
            <div class="form-group col-md-12">
                <label for="element">Select command to combine</label>
                <select id="inputState" class="form-control" v-model="combine.command">
                    <option value="" selected>None</option>
                    <option v-for="option in options.commands" :value="option.id">{{option.name}}</option>
                </select>
            </div>
        </template>
    </customModal>
    <customModal modal-id="combineScripts" title="Add Custom Script" @confirm="onCombineScript(combine.script)">
        <template slot="modal-body">
            <div class="form-group col-md-12">
                <label for="element">Select script to insert</label>
                <select id="inputState" class="form-control" v-model="combine.script">
                    <option value="" selected>None</option>
                    <option v-for="option in scriptFilteredByProject" :value="option.id">{{option.name}}</option>
                </select>
            </div>
        </template>
    </customModal>
    <customModal modal-id="outputScript" title="Add Custom Script" @confirm="onCombineScript(combine.script, 'output')">
        <template slot="modal-body">
            <div class="form-group col-md-12">
                <label for="element">Select script to insert</label>
                <select id="inputState" class="form-control" v-model="combine.script">
                    <option value="" selected>None</option>
                    <option v-for="option in scriptFilteredByProject" :value="option.id">{{option.name}}</option>
                </select>
            </div>
        </template>
    </customModal>
</div>