<template id="testcase" src="./new-testcase.html">
</template>

<script>
  import Input from './../action/action.vue';
  import Output from './../output/output.vue';
  import Result from './../result/result.vue';
  import customModal from './../modal/modal.vue';
  import Project from './../project/project.vue';

  import * as testcaseService from '../../services/testcase.service';
  import * as commandsService from '../../services/commands.service';
  import * as customScriptService from '../../services/customScript.service';
  import _ from 'lodash';
  import Multiselect from 'vue-multiselect';

  export default {
    template: '#testcase',
    name: 'TestCase',
    props: [],
    data() {
      return {
        testcase: {},
        results: [],
        testcaseId: null,
        options: {
          projects: [],
          tags: [],
          commands: [],
          scripts: [],
          testcases: [],
          actionsRunScript: [],
        },
        mockInput: {
          id: null,
          action: 'input',
          element: null,
          elementTo: null,
          value: null,
          waiting_time: 0,
          xFrom: 1,
          yFrom: 0,
          xTo: 0,
          yTo: 0,
          combinedTC: null,
          swap: false,
          script: null,
          command: null,
        },
        mockOutput: {
          id: null,
          type: 'title',
          waiting_time: 500,
          element: null,
          operator: '=',
          has_value: null,
          is_compare_another_output: false,
          actions_compared_order: null,
          script: null,
        },
        arrayStepsSwap: [],
        search: {
          command: '',
        },
        allCommandOptions: [],
        combine: {
          testcase: null,
          command: null,
          script: null,
        },
        showAlertSave: false,
        enabledButton: false,
        removed: {
          actions: [],
          outputs: [],
        },
      };
    },
    computed: {
      scriptFilteredByProject() {
        if (this.testcase.project !== null) {
          if (this.options.scripts && this.options.scripts.length > 0) {
            return this.options.scripts.filter(item => {
              if (item.project && item.project.id) {
                return item.project.id === this.testcase.project.id;
              }
              return true;
            });
          } else {
            return [];
          }
        }

        return this.options.scripts;
      },
    },
    async created() {
      this.removed = { actions: [], outputs: [] };
      this.testcase = this.initData();
      this.testcaseId = this.$route.params.id
        ? Number(this.$route.params.id)
        : null;
    },
    async mounted() {
      if (this.testcaseId) {
        await this.getTestcase();
        this.getActionsRunScript();
      }
      await this.getOptions();
      this.onFilterCommandByProject();
    },
    watch: {
      arrayStepsSwap() {
        if (this.arrayStepsSwap.length == 2) {
          this.isSubmiting = !this.isSubmiting;
          const _this = this;
          setTimeout(() => {
            _this.onSwap(_this.arrayStepsSwap[0], _this.arrayStepsSwap[1]);
          }, 200);
        }
      },
    },
    methods: {
      initData() {
        return {
          id: null,
          name: null,
          is_mobile_mode: false,
          project: null,
          issueLink: null,
          tags: [],
          actions: [],
          outputs: [],
        };
      },
      onAddOutput(index) {
        this.testcase.outputs.push({ ...this.mockOutput, order: index + 1 });
      },
      removeElement(index, type) {
        switch (type) {
          case 'action':
            if (this.testcase.actions[index - 1].id !== null) {
              this.removed.actions.push(this.testcase.actions[index - 1].id);
            }
            this.testcase.actions.splice(index - 1, 1);
            this.getActionsRunScript();

            break;

          case 'output':
            if (this.testcase.outputs[index].id !== null) {
              this.removed.outputs.push(this.testcase.outputs[index].id);
            }
            this.testcase.outputs.splice(index, 1);

            break;
        }
      },
      async onRun() {
        this.results = [];
        this.enabledButton = true;

        this.testcase.actions = this.testcase.actions.map((action, index) => {
          action['order'] = index + 1;
          return action;
        });

        const response = await testcaseService.http.runTestcase(this.testcase);

        this.results = [response];

        this.enabledButton = false;
      },
      async getTestcase() {
        const response = await testcaseService.http.getTestcase(this.testcaseId);

        response.actions = response.actions.map(action => {
          return {
            ...action,
            swap: false,
          };
        });

        this.testcase = response;
      },
      async save() {
        if (this.testcase.name == null) {
          window.alert('Testcase name empty!');
          return;
        }

        if (this.removed.actions.length > 0) {
          await testcaseService.http.deleteActions(this.removed.actions);
          this.removed.actions = [];
        }

        if (this.removed.outputs.length > 0) {
          await testcaseService.http.deleteOutputs(this.removed.outputs);
          this.removed.outputs = [];
        }

        this.testcase.actions = this.testcase.actions.map((action, index) => {
          action['order'] = index + 1;
          return action;
        });
        this.testcase.outputs = this.testcase.outputs.map((output, index) => {
          output['order'] = index;
          return output;
        });

        const response = await testcaseService.http.saveTestcase(this.testcase);
        return response;
      },
      async onSave() {
        const testcaseSaved = await this.save();
        this.testcase = { ...testcaseSaved };

        this.showAlertSave = true;
        this.$router.push({ path: '/testcases/' + testcaseSaved.id });
        this.testcaseId = testcaseSaved.id;

        setTimeout(() => {
          this.showAlertSave = false;
        }, 3000);
      },
      onInsertInputBelow(inputIndex) {
        if (inputIndex == this.testcase.actions.length) {
          this.testcase.actions.push({
            ...this.mockInput,
            order: inputIndex + 1,
          });
          return;
        }

        this.testcase.actions.splice(inputIndex, 0, {
          ...this.mockInput,
          order: inputIndex + 1,
        });
        this.getActionsRunScript();
      },
      async onCombineTC(selectedTestcaseId) {
        if (selectedTestcaseId === null || selectedTestcaseId === '') {
          return;
        }
        const response = await testcaseService.http.getTestcase(
          selectedTestcaseId,
        );

        for (const action of response.actions) {
          action.id = null;
          action['combinedTC'] = response.name;

          this.testcase.actions.push(action);
        }
      },
      async onCombineCommand(selectedCommandId) {
        if (selectedCommandId === null || selectedCommandId === '') {
          return;
        }
        const response = await commandsService.http.getCombineData(
          selectedCommandId,
        );

        this.onInsertInputBelow(this.testcase.actions.length);

        this.testcase.actions[
          this.testcase.actions.length - 1
        ].command = response;
      },
      changeTags() {
        if (
          this.tagSelected !== null &&
          _.includes(this.testcase.tags, this.tagSelected) !== true
        ) {
          this.testcase.tags.push(this.tagSelected);
        }
      },
      async getOptions() {
        this.options.projects = await testcaseService.http.getProjects();
        this.options.tags = await testcaseService.http.getTags();
        this.options.scripts = await customScriptService.http.getAll();
        this.options.testcases = await testcaseService.http.getTestCasesOptions();
        this.allCommandOptions = this.options.commands = await commandsService.http.getCommandsOptions();
      },
      async onSaveNew() {
        await this.save();
        this.showAlertSave = true;
        this.$router.push({ path: '/testcases' });
        this.testcase = this.initData();
        var _this = this;
        setTimeout(() => {
          _this.showAlertSave = false;
        }, 3000);
      },
      async onSaveCopy() {
        await this.save();
        this.showAlertSave = true;
        this.$router.push({ path: '/testcases' });
        this.testcase.id = null;
        this.testcase.order = null;
        for (const action of this.testcase.actions) {
          action.id = null;
          // Action command
          if (action.command !== null) {
            for (const command_action of action.command.command_actions) {
              for (const command_param_info of command_action.command_params_info) {
                for (const command_param_value of command_param_info.command_params_value) {
                  command_param_value.id = null;
                }
              }
            }
          }

          // Action script
          if (action.script !== null) {
            for (const script_param_info of action.script.script_params_info) {
              for (const script_param_value of script_param_info.script_params_value) {
                script_param_value.id = null;
              }
            }
          }
        }

        for (const output of this.testcase.outputs) {
          output.id = null;
          // Output script
          if (output.script !== null) {
            for (const script_param_info of output.script.script_params_info) {
              for (const script_param_value of script_param_info.script_params_value) {
                script_param_value.id = null;
              }
            }
          }
        }
      },
      onSwap(index1, index2) {
        const step1 = { ...this.testcase.actions[index1] };

        if (index1 < index2) {
          index2 = index2 + 1;
        } else {
          index1 = index1 + 1;
        }

        this.testcase.actions.splice(index2, 0, step1);
        this.testcase.actions.splice(index1, 1);

        this.testcase.actions = this.testcase.actions.map(item => {
          item.swap = false;
          return item;
        });

        this.arrayStepsSwap = [];
        this.getActionsRunScript();
      },
      onClickSwapItem($event) {
        this.testcase = Object.assign({}, this.testcase);
        this.testcase.actions[$event.index - 1].swap = $event.value;
        const temp = this.arrayStepsSwap.filter(item => {
          return item === $event.index - 1;
        });

        if (temp.length > 0) {
          this.arrayStepsSwap = [];
        } else {
          this.arrayStepsSwap.push($event.index - 1);
        }
      },
      async onCombineScript(scriptId, type = 'action') {
        if (scriptId === null || scriptId === '') {
          return;
        }
        const response = await customScriptService.http.getScriptCombine(
          scriptId,
        );
        if (type === 'action') {
          this.onInsertInputBelow(this.testcase.actions.length);
          this.testcase.actions[
            this.testcase.actions.length - 1
          ].script = response;
          this.testcase.actions[this.testcase.actions.length - 1].action =
            'script';
          this.options.actionsRunScript.push(this.testcase.actions.length);
        } else {
          this.onAddOutput(this.testcase.outputs.length);
          this.testcase.outputs[
            this.testcase.outputs.length - 1
          ].script = response;
          this.testcase.outputs[this.testcase.outputs.length - 1].type = 'script';
        }
      },
      onFilterCommandByProject() {
        if (this.testcase.project) {
          this.options.commands = this.allCommandOptions.filter(item => {
            if (item.project) {
              return item.project.id == this.testcase.project.id;
            }
            return true;
          });
        } else {
          this.options.commands = this.allCommandOptions;
        }
      },
      getActionsRunScript() {
        this.options.actionsRunScript = this.testcase.actions
          .map((item, index) => {
            return {
              item: item,
              order: index + 1,
            };
          })
          .filter(action => {
            return action.item.script !== null;
          })
          .map(item => {
            return item.order;
          });
      },
    },
    components: {
      Input,
      Output,
      Result,
      customModal,
      Project,
      Multiselect,
    },
  };
</script>

