<div>
    <div class="row">
        <form class="form-inline col-8">
            <div class="form-group mb-2">
                <div class="input-group mb-2">
                    <input type="text" v-model="search_term" placeholder="Search..." class="form-control" aria-label="Text input with radio button">
                    <div class="input-group-append">
                        <div class="input-group-text" @click="onSearch" style="cursor: pointer;">
                            <a>
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-4">
            <button type="button" class="btn btn-primary f-right" @click="$emit('create')" data-toggle="modal" data-target="#tagModal">
                <i class="fas fa-plus m-r-5"></i>Create New</button>
        </div>
    </div>

    <div class="custom-table">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th style="min-width:200px">Name</th>
                    <th>Created At</th>
                    <th style="min-width: 120px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in rows" :key="index">
                    <td @click="test()">{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.createdAt | formatDate}}</td>
                    <td>
                        <a data-toggle="modal" data-target="#tagModal" style="cursor: pointer;" @click="$emit('edit', row)">
                            <i class="fas fa-edit m-l-10 c-blue"></i>
                        </a>
                        <a data-toggle="modal" data-target="#deleteModal" style="cursor: pointer;" @click="onDelete(row.id)">
                            <i class="fas fa-trash m-l-10 c-blue"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>