<template id="sharedTable" src="./table.html">
</template>

<script>

export default {
  template: '#sharedTable',
  name: 'SharedTable',
  props: ['rows', 'options'],
  data() {
    return {
      search_term: null,
      show_modal: false,
      isSavingTag: false,
      tag: null,
      
    };
  },
  methods: {
    onDelete(rowId) {
      this.$emit('delete', rowId);
    },
    // saveTag () {
    //   this.isSavingTag = !this.isSavingTag
    //   if(this.tag.name !== null) {
    //       this.$emit('save-tag', this.tag)
    //     }
    // },
    onSearch() {
      this.$emit('search', this.search_term);
    }
  },
  components: {
  },
};
</script>



