<template id="result" src="./result.html">
</template>

<script>
export default {
  template: '#result',
  name: 'Result',
  props: ['results'],
  data() {
    return {
      rows : [],
      count: {
        success: 0,
        fail: 0,
      }
    };
  },
  computed: {},
  watch: {
    results() {
      this.rows = this.results;
      this.count.success = 0;
      this.count.fail = 0;
      for(const result of this.results) {
        this.count.success += result.actions.filter(item => item.status == 1).length + result.outputs.filter(item => item.status == 1).length
        this.count.fail += result.actions.filter(item => item.status == 0).length + result.outputs.filter(item => item.status == 0).length
      }
    }
  },
  methods: {
  },
};
</script>