<div>
  <p>
    <span class="line line3">Success: </span><span style="color: black">{{ count.success }}</span>
    <span class="line line2"> - </span>
    <span class="line line4">Fail: </span><span style="color: black">{{ count.fail }}</span>
  </p>
  <div class=fakeMenu>
    <div class="fakeButtons fakeClose"></div>
    <div class="fakeButtons fakeMinimize"></div>
    <div class="fakeButtons fakeZoom"></div>
  </div>
  <div class="fakeScreen">
    <p class="line line2" v-if="rows.length == 0">[?] Waiting...
      <span class="cursor1">_</span>
    </p>
    <div v-for="row in rows">
      <p class="line line2">---------------------------><--------------------------</p>
      <p class="line line1">Testcase `{{row.id}}`: {{row.name}}
      </p>

      <!-- Input err -->
      <p :class="res.status == 1 ? 'line line3' : 'line line4'" v-for="res in row.actions">> Step {{res.input}}: {{res.message}}
      </p>

      <!-- Output result -->
      <p :class="res.status == 1 ? 'line line3' : 'line line4'" v-for="res in row.outputs">> Output {{res.output}}: {{res.message}}
        <span :class="res.status == 1 ? 'line line3' : 'line line4'"></span>
      </p>
    </div>
  </div>
</div>