<div>
    <div id="header-table">
        <div class="row p-l-10">
                <form class="form-inline">
                    <div class="form-group mb-2 ">
                        <div class="input-group mb-2">
                            <input type="text" v-on:keyup.enter.prevent="onSearch" v-model="query.search_term" placeholder="Search..." class="form-control" aria-label="Text input with radio button">
                            <div class="input-group-append">
                                <div class="input-group-text" @click="onSearch">
                                    <a>
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2" style="margin-left: 20px">
                        <label class="m-r-10 font-weight-bold" for="project">Project:</label>
                        <select class="form-control mb-2" v-model="query.project" @change="reloadTable">
                            <option :value="null">All</option>
                            <option value="none">None Belongs Project</option>
                            <option v-for="option in options.projects" :value="option.id">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group mb-2" style="margin-left: 20px; width: 400px;">
                        <label class="m-r-10 font-weight-bold" for="tag" style="width: 10%; float: left;">Tags:</label>
                        <multiselect style="width: 80%; float: left;" class="form-control mb-2" v-model="query.tags" tag-placeholder="Add this as new tag"
                            placeholder="Search or add a tag" label="name" track-by="name" :options="options.tags" :multiple="true" :taggable="true"
                            :hide-selected="true" @select="reloadTable" @remove="reloadTable"></multiselect>
                    </div>
                </form>
        
        
                <!-- <div class="col-4">
                    <button type="button" class="btn btn-primary f-right" style="margin-left: 15px" @click="getProject(null)" data-toggle="modal"
                        data-target="#projectModal">
                        <i class="fas fa-plus m-r-5"></i>Create Project</button>
                    <button type="button" class="btn btn-primary f-right" @click="getTag(null)" data-toggle="modal" data-target="#tagModal">
                        <i class="fas fa-plus m-r-5"></i>Create Tag</button>
                </div> -->
            </div>
            <div class="row">
                <button data-toggle="modal" data-target="#runModal" :disabled="!runMultiButton" type="button" class="btn btn-danger f-right"
                    style="margin-left: 15px" @click="runMulti">
                    <i class="fas fa-play m-l-10"></i> Run
                </button>
                <div class="custom-control custom-checkbox" style="margin-left: 20px; margin-top: 5px">
                    <input type="checkbox" v-model="keepSession" class="custom-control-input" id="keepSess_l">
                    <label class="custom-control-label" for="keepSess_l"><span style="color:initial;">Keep Current Session</span></label>
                </div>
                <!-- <button type="button" class="btn btn-warning f-right" style="margin-left: 15px" @click="clearError">
                    <i class="fas fa-minus-circle"></i> Skip Error
                </button> -->
                <button type="button" class="btn btn-danger f-right" :disabled="!runMultiButton" style="margin-left: 15px" @click="exportIssue">
                    <i class="fas fa-file-export"></i> Export Testcases
                </button>
                <button type="button" data-toggle="modal" data-target="#importModal" class="btn btn-danger f-right" style="margin-left: 15px">
                    <i class="fas fa-file-import"></i> Import Testcases
                </button>
                <button type="button" class="btn btn-danger f-right" :disabled="!runMultiButton" style="margin-left: 15px" data-toggle="modal"
                    data-target="#deleteMultiModal">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
                <button data-toggle="modal" data-target="#runModal" type="button" class="btn btn-primary f-right" style="margin-left: 15px">
                    <i class="fas fa-clipboard-list"></i> Re-open Result
                </button>
                <button class="btn btn-success f-right" style="margin-left: 15px" @click="$router.push('/testcases')">
                        <i class="fab fa-wpforms icon-cus"></i> New Testcase
                </button>
            </div>
    </div>
    

    <div class="custom-table">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 50px; margin: auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" @click="selectAll" v-model="selectedAll" class="custom-control-input" id="customCheckAll">
                            <label class="custom-control-label" for="customCheckAll"></label>
                        </div>
                    </th>
                    <th>ID</th>
                    <th style="min-width:200px">Name</th>
                    <!-- <th style="min-width:300px">URL Test</th> -->
                    <th style="min-width:200px">Project</th>
                    <th style="min-width:250px">Tags</th>
                    <th>Issues</th>
                    <th>Created At</th>
                    <!-- <th style="min-width: 120px">Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in showData" :key="index">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" v-model="row.selected" @click="checked(row)" class="custom-control-input" :id="'customCheck' + index">
                            <label class="custom-control-label" :for="'customCheck' + index"></label>
                            <a class="a" @click="row.swap = !row.swap; onClickSwapItem(row)">
                                <i :style="row.swap == true ? 'color:red' : ''" class="fas fa-retweet"></i>
                            </a>
                        </div>
                    </td>
                    <td>{{row.id}}</td>
                    <td>
                        <router-link :to="'/testcases/' + row.id" style="margin-left: 10px;">
                            {{row.name}}
                        </router-link>
                    </td>
                    <!-- Project -->
                    <td v-if="row.project == null">
                        <a class="a" @click="updateOptions.project = null; selectedRow = row" data-toggle="modal" data-target="#addProjectModal">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </td>
                    <td v-else>
                        <a class="a" @click="selectedRow = row">{{row.project | formatNullValue}}</a>
                    </td>
                    <!-- End Project -->
                    <!-- Tag -->
                    <td v-if="row.tags.length == 0">
                        <a class="a" @click="updateOptions.tags = row.tags; selectedRow = row" data-toggle="modal" data-target="#addTagModal">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </td>
                    <td v-else>
                        <ul class="tags">
                            <li>
                                <a class="tag cursor" @click="updateOptions.tags = row.tags; selectedRow = row" data-toggle="modal" data-target="#addTagModal"
                                    v-for="tag in row.tags">{{tag | formatNullValue}}</a>
                            </li>
                        </ul>
                    </td>
                    <!-- End Tag -->
                    <td>
                        <a target="_blank" :href="row.issueLink" style="cursor: pointer;">{{row.issueLink}}</a>
                    </td>
                    <td>{{row.createdAt | formatDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <customModal modal-id="deleteMultiModal" title="Delete Multi TestCases" @confirm="deleteMulti()">
        <template slot="modal-body">
            <strong>Are you sure to delete this testcases?</strong>
        </template>
    </customModal>
    <customModal modal-id="deleteModal" title="Delete TestCase" :selected-row="selectedRow" @confirm="onDelete($event)">
        <template slot="modal-body">
            <strong>Are you sure to delete this testcase?</strong>
        </template>
    </customModal>
    <customModal modal-id="runModal" title="RUN TESTCASE">
        <template slot="modal-body">
            <!-- <strong v-if="testcase.id == null">Waiting for get data...</strong> -->
            <Result :results="results" />
        </template>
    </customModal>
    <customModal modal-id="addProjectModal" title="PROJECT" @confirm="addProject">
        <template slot="modal-body">
            <label class="m-r-10 font-weight-bold" for="project"></label>
            <select class="form-control mb-2" v-model="updateOptions.project">
                <option :value="null">None</option>
                <option v-for="option in options.projects" :value="option.id">{{option.name}}</option>
            </select>
        </template>
    </customModal>
    <customModal modal-id="addTagModal" title="Tag" @confirm="addTag">
        <template slot="modal-body">
            <div>
                <label class="typo__label"></label>
                <multiselect v-model="updateOptions.tags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name"
                    track-by="name" :options="options.tags" :multiple="true" :taggable="true" :hide-selected="true"></multiselect>
            </div>
        </template>
    </customModal>
    <customModal modal-id="importModal" title="Import Testcases" @confirm="uploadFile">
        <template slot="modal-body">
            <div class="form-group">
                <label for="exampleFormControlFile1">File: </label>
                <input type="file" name="file" @change="filesChange($event.target.name, $event.target.files)" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </template>
    </customModal>
</div>