<template id="table" src="./table.html">
</template>

<script>
// import _ from 'lodash';
import customModal from './../modal/modal.vue';
import Result from './../result/result.vue';
import Project from './../project/project.vue';
import Tag from './../tag/tag.vue';
import * as testcaseService from '../../services/testcase.service';
import Multiselect from 'vue-multiselect';

export default {
  template: '#table',
  name: 'Table',
  props: ['rows', 'options'],
  data() {
    return {
      show_modal: false,
      selectedRow: {
        tags: [],
      },
      results: [],
      testcase: {
        id: null,
        name: null,
        // url: null,
        input: [],
        output: [],
        issueLink: null,
      },
      query: {
        search_term: null,
        project: null,
        tags: [],
      },
      project: null,
      isSavingProject: true,
      isSavingTag: true,
      showData: [],
      selectedAll: false,
      keepSession: true,
      runMultiButton: true,
      updateOptions: {
        project: null,
        tags: [],
      },
      fileUpload: {
        name: null,
        file: null
      },
      arrayTestcaseSwap: [],
    };
  },
  computed: {},
  watch: {
    rows() {
      this.selectedAll = false;
      this.showData = this.rows.map(item => {
        return {
          ...item,
          selected: false,
          swap: false,
        };
      });
    },
    showData: {
      handler: function() {
        if (
          this.showData.filter(item => {
            return item.selected;
          }).length == 0
        ) {
          this.runMultiButton = false;
        } else {
          this.runMultiButton = true;
        }
      },
      deep: true,
    },
    arrayTestcaseSwap () {
      if (this.arrayTestcaseSwap.length == 2) {
        const swapItems0 = this.showData
          .map((item, index) => {
            return { item, index };
          })
          .filter(item => {
            return item.item.id == this.arrayTestcaseSwap[0].id;
          })[0];
        const swapItems1 = this.showData
          .map((item, index) => {
            return { item, index };
          })
          .filter(item => {
            return item.item.id == this.arrayTestcaseSwap[1].id;
          })[0];

        this.$emit('swap-testcase', [...this.arrayTestcaseSwap].map(item => {
          return item.id;
        }));
        this.swapTestCases(swapItems0.index, swapItems1.index, swapItems0.item);
      }
    }
  },
  methods: {
    onSearch() {
      this.$emit('search', this.query.search_term);
    },
    onDelete(rowId) {
      this.$emit('delete', rowId);
    },
    getProject(project) {
      this.project = project;
    },
    saveProject() {
      this.isSavingProject = !this.isSavingProject;

      const _this = this;
      setTimeout(() => {
        if (_this.project.name !== null) {
          _this.$emit('save-project', _this.project);
        }
      }, 200);
    },
    reloadTable() {
      const _this = this;
      setTimeout(() => {
        _this.$emit('filter', {
          project: _this.query.project,
          tags: _this.query.tags.map(item => {
            return item.id;
          }),
        });
      }, 200)
          
    },
    addProject() {
      this.$emit('add-project', {
        projectId: this.updateOptions.project,
        testcase: this.selectedRow.id,
      });
    },
    addTag() {
      this.$emit('add-tag', {
        tagIds: this.updateOptions.tags.map(item => {
          return item.id;
        }),
        testcase: this.selectedRow.id,
      });
    },
    selectAll() {
      const _this = this;
      setTimeout(() => {
        _this.showData = _this.showData.map(item => {
          item.selected = _this.selectedAll;
          return item;
        });
      }, 100);
    },
    checked(item) {
      item.selected = !item.selected;
      if (item.selected === false) {
        this.selectedAll = false;
      }
    },
    async runMulti() {
      const testcasesSelected = this.showData
        .filter(item => {
          return item.selected == true;
        });

      if (testcasesSelected.length === 0) {
        return;
      }

      this.results = [];

      if(this.keepSession) {
        const testcaseMobileMode = testcasesSelected.filter(item => item.is_mobile_mode === true);
        const testcaseBrowserMode = testcasesSelected.filter(item => item.is_mobile_mode !== true);

        // Browser mode
        if(testcaseBrowserMode.length > 0) {
          await testcaseService.http.checkCookie(false);
          for(const testcaseId of testcaseBrowserMode) {
            const response = await testcaseService.http.runMulti(
              testcaseId.id,
              this.keepSession,
            );

            this.results.push(...response)

            if (!response[0].continue) {
              break;
            }
          }
        }

        // Mobile mode
        if(testcaseMobileMode.length > 0) {
          await testcaseService.http.checkCookie(true);
          for(const testcaseId of testcaseMobileMode) {
            const response = await testcaseService.http.runMulti(
              testcaseId.id,
              this.keepSession,
            );

            this.results.push(...response)

            if (!response[0].continue) {
              break;
            }
          }
        }
      } else {
        for(const testcaseId of testcasesSelected) {
          const response = await testcaseService.http.runMulti(
            testcaseId.id,
            this.keepSession,
          );
  
          this.results.push(...response)
  
          if (!response[0].continue) {
            break;
          }
        }
      }

      const count = {success: 0, fail: 0}
      for(const result of this.results) {
        count.success += result.actions.filter(item => item.status == 1).length + result.outputs.filter(item => item.status == 1).length;
        count.fail += result.actions.filter(item => item.status == 0).length + result.outputs.filter(item => item.status == 0).length;
      }
      this.speak(`${count.success} success, ${count.fail} fails`);
    },
    speak (message) {
      var msg = new SpeechSynthesisUtterance(message)
      var voices = window.speechSynthesis.getVoices()
      msg.voice = voices[0]
      window.speechSynthesis.speak(msg)
    },
    deleteMulti () {
      const testcasesSelected = this.showData
        .filter(item => {
          return item.selected == true;
        })
        .map(item => {
          return item.id;
        });

      if (testcasesSelected.length === 0) {
        return;
      }

      this.$emit('delete-multi', testcasesSelected);
    },
    swapTestCases(tc1Index, tc2Index, tc1) {
      if (tc1Index < tc2Index) {
        tc2Index = tc2Index + 1
      } else {
        tc1Index = tc1Index + 1
      }

      this.showData.splice(tc2Index, 0, tc1);
      this.showData.splice(tc1Index, 1);

      this.showData = this.showData.map(item => {
        item.swap = false;
        return item;
      });

      this.arrayTestcaseSwap = [];
    },
    async exportIssue() {
      const testcasesSelected = this.showData
        .filter(item => {
          return item.selected == true;
        })
        .map(item => {
          return item.id;
        });

      if (testcasesSelected.length === 0) {
        return;
      }

      await testcaseService.http.exportIssue(testcasesSelected);
    },
    filesChange (name, files) {
      this.fileUpload.name = name;
      this.fileUpload.file = files[0];
    },
    async uploadFile () {
      if (this.fileUpload.file) {
        await testcaseService.http.uploadFile(this.fileUpload.file);
        this.$emit('reload');
      }
    },
    async clearError() {
      await testcaseService.http.clearError();
    },
    onClickSwapItem (row) {
      const temp = this.arrayTestcaseSwap.filter(item => {
        return item.id === row.id;
      });
      if (temp.length > 0) {
        this.arrayTestcaseSwap = [];
      } else {
        this.arrayTestcaseSwap.push(row);
      }
    }
  },
  components: {
    customModal,
    Result,
    Project,
    Tag,
    Multiselect,
  },
};
</script>

<style scoped>
.input-group-text:hover {
  background-color: #a9adb1;
  cursor: pointer;
}
.a {
  color: #007bff !important;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.divTags {
  font: 12px/1.5 'PT Sans', serif;
  margin: 25px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: crimson;
  border-radius: 3px 0 0 3px;
  color: white !important;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: rgb(242, 242, 242);
  border-bottom: 13px solid transparent;
  border-left: 10px solid crimson;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
</style>


