<template id="commandTable" src="./command-table.html">
</template>

<script>
import * as commandsService from '../../../services/commands.service.js';
import * as testcaseService from '../../../services/testcase.service.js';
import customModal from './../../modal/modal.vue';
import Pagination from './../../pagination/pagination.vue';

export default {
  template: '#commandTable',
  name: 'commandTable',
  props: [],
  data() {
    return {
      query:{
        perPage: 10,
        pageNum: 0,
        search_term: null,
        project: null,
      },
      rows: [],
      total: 0,
      rowSelected: null,
      options: {
        projects: [],
      },
      selectedAll: false,
      fileUpload: {
        name: null,
        file: null
      },
    };
  },
  methods: {
    async onDelete(row) {
      await commandsService.http.delete(row.id);
      this.rowSelected = null;
      await this.getCommands();
    },
    async onSearch() {
      await this.getCommands();
    },
    async getCommands() {
      const response = await commandsService.http.getCommands(this.query);
      this.rows = response.commands.map(item => {
        return {
          ...item,
          selected: false
        };
      });
      this.total = response.total;
    },
    async onChangePage(page) {
      this.query.pageNum = page;
      await this.getCommands();
    },
    async getProject () {
      this.options.projects = await testcaseService.http.getProjects()
    },
    onSelectAll() {
      const _this = this;
      setTimeout(() => {
        _this.rows = _this.rows.map(item => {
          item.selected = _this.selectedAll;
          return item;
        });
      }, 100);
    },
    checked(item) {
      item.selected = !item.selected;
      if (item.selected === false) {
        this.selectedAll = false;
      }
    },
    async exportCommands () {
      const commandsSelected = this.rows.filter(item => {
        return item.selected === true;
      }).map(item => {return item.id});

      if(commandsSelected.length > 0) {
        await commandsService.http.exportCommands(commandsSelected)
      }
    },
    async exportAllCommands () {
      await commandsService.http.exportCommands({data: 'all'})
    },
    filesChange (name, files) {
      this.fileUpload.name = name;
      this.fileUpload.file = files[0];
    },
    async uploadFile () {
      if (this.fileUpload.file) {
        await commandsService.http.uploadFile(this.fileUpload.file);
        await this.getCommands();
        await this.getProject();
      }
    },
    async onDeleteMultiple () {
      const commandsSelected = this.rows.filter(item => {
        return item.selected === true;
      }).map(item => {return item.id});

      if (commandsSelected.length > 0) {
        await commandsService.http.deleteMulti(commandsSelected); 
        await this.getCommands();
      }
    }
  },
  components: {
    customModal,
    Pagination
  },
  async mounted () {
    await this.getCommands()
    await this.getProject()
  }
};
</script>



