<div>
    <div class="row">
        <form class="form-inline col-8">
            <div class="form-group mb-2">
                <div class="input-group mb-2">
                    <input type="text" v-on:keyup.enter.prevent="onSearch" v-model="query.search_term" placeholder="Search..." class="form-control"
                        aria-label="Text input with radio button">
                    <div class="input-group-append">
                        <div class="input-group-text" @click="onSearch" style="cursor: pointer;">
                            <a>
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-2" style="margin-left: 20px">
                <label class="m-r-10 font-weight-bold" for="project">Project:</label>
                <select class="form-control mb-2" v-model="query.project" @change="getCommands">
                    <option :value="null">All</option>
                    <option value="none">None Belongs Project</option>
                    <option v-for="option in options.projects" :value="option.id">{{option.name}}</option>
                </select>
            </div>
        </form>
        <div class="row">
            <router-link class="btn btn-primary f-right" to="/command" style="margin-left: 30px">Create Command</router-link>
            <button type="button" class="btn btn-warning f-right" style="margin-left: 15px" @click="exportCommands">
                <i class="fas fa-file-export"></i> Export Selected Commands
            </button>
            <button type="button" class="btn btn-info f-right" style="margin-left: 15px" @click="exportAllCommands">
                <i class="fas fa-file-export"></i> Export All Commands
            </button>
            <button type="button" data-toggle="modal" data-target="#importModal" class="btn btn-success f-right" style="margin-left: 15px">
                <i class="fas fa-file-import"></i> Import Commands
            </button>
            <button type="button" class="btn btn-danger f-right" style="margin-left: 15px" data-toggle="modal"
                data-target="#deleteMultiModal">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>

    <div class="custom-table">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 50px; margin: auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" @click="onSelectAll" v-model="selectedAll" class="custom-control-input"
                                id="customCheckAll">
                            <label class="custom-control-label" for="customCheckAll"></label>
                        </div>
                    </th>
                    <th>ID</th>
                    <th style="min-width:200px">Name</th>
                    <th>Project</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in rows" :key="index">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" v-model="row.selected" @click="checked(row)" class="custom-control-input"
                                :id="'customCheck' + index">
                            <label class="custom-control-label" :for="'customCheck' + index"></label>
                        </div>
                    </td>
                    <td @click="test()">{{row.id}}</td>
                    <td>
                        <router-link :to="'/command/' + row.id">{{row.name}}</router-link>
                    </td>
                    <td>{{row.project | formatNullValue}}</td>
                    <td>{{row.createdAt | formatDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Total Record(s):<strong> {{total}}</strong></p>

    <pagination :total-records="total" :current-page="query.pageNum + 1" :per-page="query.perPage" @change-page="onChangePage" />

    <customModal modal-id="deleteModal" title="Delete Command" :selected-row="rowSelected" @confirm="onDelete($event)">
        <template slot="modal-body">
            <strong>Are you sure to delete this command?</strong>
        </template>
    </customModal>
    <customModal modal-id="importModal" title="Import Commands" @confirm="uploadFile">
        <template slot="modal-body">
            <div class="form-group">
                <label for="exampleFormControlFile1">File: </label>
                <input type="file" name="file" @change="filesChange($event.target.name, $event.target.files)" class="form-control-file"
                    id="exampleFormControlFile1">
            </div>
        </template>
    </customModal>
    <customModal modal-id="deleteMultiModal" title="Delete Multi TestCases" @confirm="onDeleteMultiple()">
            <template slot="modal-body">
                <strong>Are you sure to delete this commands?</strong>
            </template>
        </customModal>

</div>