<template id="insert-testcase" src="./combine.html">
</template>

<script>
import _ from 'lodash';

export default {
  template: '#insert-testcase',
  name: 'combineTestcase',
  props: ['dataTestcaseOptions', 'actionOptions'],
  data() {
    return {
      selectedTestCase: '',
      location: 'first',
      belowAction: null
    };
  },
  computed: {},
  watch: {
    actionOptions() {
      console.log(this.actionOptions);
    }
  },
  methods: {

  }
};
</script>

