<div>
    <strong>COMBINE TESTCASE</strong>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="element">Select testcase to combine</label>
            <select id="inputState" class="form-control" v-model="selectedTestCase">
                <option value="" selected>None</option>
                <option v-for="option in dataTestcaseOptions" value="option.id">{{option.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputZip">Location</label>
            <select id="inputState" class="form-control" v-model="location">
                <option value="first">First</option>
                <option value="below-action">Below specified action</option>
                <option value="last">Last</option>
            </select>
        </div>
        <div class="form-group col-md-3" v-if="location == 'below-action'">
            <label for="inputZip">Below action</label>
            <select id="inputState" class="form-control" v-model="belowAction">
                <option v-for="(option, index) in actionOptions" value="index + 1">Step {{index + 1}}</option>
            </select>
        </div>
    </div>
</div>