<template id="output" src="./output.html">
</template>

<script>
import _ from 'lodash';
export default {
  template: '#output',
  name: 'Output',
  props: ['index', 'output', 'actionsRunScript'],
  data() {
    return {
      typeOptions: [
        { value: 'title', name: 'Title' },
        { value: 'url', name: 'Url' },
        { value: 'script', name: 'Script' },
        { value: 'text', name: 'Text Element' },
        { value: 'visible', name: 'Element Visible' },
        { value: 'enabled', name: 'Element Enabled' },
        { value: 'exist', name: 'Element Exist' },
        { value: 'not-visible', name: 'Element Not Visible' },
        { value: 'not-enabled', name: 'Element Not Enabled' },
        { value: 'not-exist', name: 'Element Not Exist' },
      ],
      sourceOperator: [
        { value: '=', name: '=' },
        { value: '!=', name: '!=' },
        { value: '>', name: '>' },
        { value: '>=', name: '>=' },
        { value: '<', name: '<' },
        { value: '<=', name: '<=' },
        { value: 'contain', name: 'Contains' },
        { value: 'not_contain', name: 'Not Contains' },
      ],
      visibleElement: {},
      operatorOptions: [],
      inputCompareOptions: [],
    };
  },
  computed: {
    isTabValueActive () {
      return this.output.is_compare_another_output ? '' : 'active';
    },
    isTabCompareActive () {
      return this.output.is_compare_another_output ? 'active' : '';
    }
  },
  watch: {
    output() {
      this.changeType();
    }
  },
  methods: {
    removeElement() {
      this.$emit('remove', this.index);
    },
    setupOperatorOptions() {
      this.operatorOptions = this.sourceOperator.filter(o => {
        switch (this.output.type) {
          case 'url':
          case 'text':
          case 'title':
            return _.includes(['=', '!=', 'contain', 'not_contain'], o.value);

          default:
            return true;
        }
      });
    },
    changeType() {
      this.setupOperatorOptions();
      this.setupVisibleElement();
    },
    setupVisibleElement() {
      this.visibleElement = {
        operator: false,
        has_value: false,
        element: false,
        wating_time: false,
      };
      let visibleRules = [];

      switch (this.output.type) {
        case 'url':
        case 'title':
          visibleRules = ['operator', 'has_value'];
          break;
        
        case 'visible':
        case 'enabled':
        case 'exist':
        case 'not-visible':
        case 'not-enabled':
        case 'not-exist':
          visibleRules = ['element', 'wating_time'];
          break;

        default: 
          visibleRules = ['element', 'wating_time', 'operator', 'has_value'];
          break;
      }

      for(const rule of visibleRules) {
        this.visibleElement[rule] = true;
      }
    },
  },
  mounted() {
    this.setupOperatorOptions();
    this.setupVisibleElement();
  }
};
</script>

