<div class="backgroud-out">
    <a class="btn expand" :style="output.script !== null ? 'color: green; box-shadow: none ' : 'box-shadow: none'"
        data-toggle="collapse" :href="'#output' + index" role="button" aria-expanded="false" aria-controls="collapseExample">
        Output {{index + 1}}
        <a v-if ="output.script !== null" >: Script: {{ output.script.name }}</a>
        <i class="fas fa-angle-right m-l-5"></i>
    </a>
    <a @click="removeElement(index)" class="cusfa f-right m-r-10">
        <i class="fas fa-times cus-remove"></i>
    </a>
    <div class="collapse" :id="'output' + index">
        <div class="card card-body">
            <div class="row">
                <div class="col-2" v-if="output.script === null">
                    <div class="form-group">
                        <label for="typeOut">Type</label>
                        <select class="form-control" v-model="output.type" @change="changeType">
                            <option v-for="option in typeOptions" :value="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group" v-if="visibleElement.wating_time">
                        <label for="waitOut">Waiting Time</label>
                        <input type="number" v-model="output.waiting_time" name="output-value" class="form-control" id="waitOut"
                            aria-describedby="element" placeholder="Enter waiting time">
                        <!-- <span style="color: red">{{ errors.first('output-hasValue') }}</span> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5" v-if="output.script === null">
                    <div class="form-group" v-if="visibleElement.element">
                        <label for="elementOut">Element</label>
                        <textarea type="text" v-model="output.element" name="output-element" v-validate="'required'"
                            class="form-control" id="elementOut" aria-describedby="element" placeholder="Enter Element"
                            rows="3"></textarea>
                        <span style="color: red">{{ errors.first('output-element') }}</span>
                    </div>
                </div>
                <!-- Script Element -->
                <div class="form-group col-md-5" v-if="output.script !== null">
                    
                    <div class="form-group " v-for="(param, index) in output.script.script_params_info">
                        <label :for="'param' + index">Param: {{param.name}}</label>
                        <input type="text" v-model="param.script_params_value[0].value" name="output-value" class="form-control"
                            :id="'param' + index" aria-describedby="element" placeholder="Enter Params Value">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group" v-if="visibleElement.operator">
                        <label for="operator">Operator</label>
                        <select class="form-control" v-model="output.operator">
                            <option v-for="option in operatorOptions" :value="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group" v-if="visibleElement.has_value">
                        <ul class="nav nav-tabs custom-navtab" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a :class="'nav-link custom-tab-a ' + isTabValueActive" :id="'value-tab' + index"
                                    data-toggle="tab" :href="'#tab-value' + index" role="tab" :aria-controls="'tab-value' + index"
                                    aria-selected="true" @click="output.is_compare_another_output = false">Value</a>
                            </li>
                            <li class="nav-item">
                                <a :class="'nav-link custom-tab-a ' + isTabCompareActive" :id="'output-tab' + index"
                                    data-toggle="tab" :href="'#tab-ouput' + index" role="tab" :aria-controls="'tab-output' + index"
                                    aria-selected="false" @click="output.is_compare_another_output = true">Other
                                    Step
                                    Result</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div :class="'tab-pane fade show ' + isTabValueActive" :id="'tab-value' + index" role="tabpanel"
                                :aria-labelledby="'value-tab' + index">
                                <textarea type="text" v-model="output.has_value" name="output-value" v-validate="'required'"
                                    class="form-control none-outline" id="elementOut" aria-describedby="element"
                                    placeholder="Enter respect value" rows="3"></textarea>
                            </div>
                            <div :class="'tab-pane fade show ' + isTabCompareActive" :id="'tab-ouput' + index" role="tabpanel"
                                :aria-labelledby="'output-tab' + index">
                                <select class="form-control none-outline" v-model="output.actions_compared_order">
                                    <option v-for="option in actionsRunScript" :value="option">Action {{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>