<template id="step-command" src="./command-action.html">
</template>

<script>
import CommandParams from './command-params.vue';

export default {
  template: '#step-command',
  name: 'CommandAction',
  props: ['index', 'commandAction'],
  data() {
    return {
      actions: [
        { value: 'input', name: 'Set Value' },
        { value: 'pause', name: 'Pause' },
        { value: 'refresh-page', name: 'Refresh Page' },
        { value: 'keys', name: 'Press Key (keyboard)' },
        { value: 'clear', name: 'Clear Value' },
        { value: 'url', name: 'Url' },
        { value: 'click', name: 'Click' },
        { value: 'r-click', name: 'Right Click' },
        { value: 'd-click', name: 'Double Click' },
        { value: 'click-dropdown', name: 'Emit click event' },
        { value: 'select-by-visible-text', name: 'Select_tag: Select by Visible Text' },
        { value: 'middle-click', name: 'Middle Click' },
        { value: 'move-to-object', name: 'Move Pointer To Object' },
        { value: 'upload', name: 'Upload File' },
        { value: 'drag-drop', name: 'Drag & Drop' },
        { value: 'move-element', name: 'Move Element' },
        { value: 'resize', name: 'SVG Resize' },
        { value: 'rotate', name: 'SVG Transform Rotate' },
        { value: 'checked', name: 'Tick checkbox' },
        { value: 'unchecked', name: 'Untick checkbox' },
        { value: 'script', name: 'Run Script (and save result)'},
      ],
      visibleElement: {},
      command_params_info: {},
      elementName: {
        element: 'Element',
        elementTo: 'Element To',
        offsetX: 'Xoffset',
        offsetY: 'Yoffset',
      }
    };
  },
  computed: {},
  watch: {
    commandAction() {
      this.setupData();
    }
  },
  methods: {
    removeElement() {
      this.$emit('remove', this.index);
    },
    changeTypeInput() {
      this.setupElementVisible();
    },
    setupElementVisible() {
      let visibleRule = [];
      this.visibleElement = {
        element: false, elementTo: false, waiting_time: false,
        xFrom: false, yFrom: false, value: false,
      }
      this.elementName = {
        element: 'Element', elementTo: 'Element To', offsetX: 'Xoffset', offsetY: 'Yoffset',
      }
      switch (this.commandAction.action) {
        case 'refresh-page': 
          visibleRule = ['waiting_time'];
          break;
        case 'pause': 
          visibleRule = ['value'];
          break;
        case 'upload':
        case 'input':
          visibleRule = ['element', 'waiting_time', 'value'];
          break;
        case 'drag-drop':
          visibleRule = ['elementTo', 'element', 'waiting_time', 'xFrom', 'yFrom'];
          break;
        case 'move-element':
        case 'move-to-object':
          visibleRule = ['xFrom', 'yFrom', 'element', 'waiting_time'];
          break;

        case 'url':
          visibleRule = ['value'];
        break;

        case 'keys':
          visibleRule = ['value', 'waiting_time'];
        break;

        case 'resize':
          visibleRule = ['element', 'waiting_time', 'xFrom', 'yFrom'];
          this.elementName.offsetX = 'Width';
          this.elementName.offsetY = 'Height';
          break;

        case 'rotate':
          visibleRule = ['element', 'waiting_time', 'xFrom'];
          this.elementName.offsetX = 'Rotation';
          break;

        case 'click-value':
          visibleRule = ['value'];
          break;

        case 'r-click':
        case 'd-click':
        case 'click':
          visibleRule = ['element', 'waiting_time'];
          break;
        
        case 'select-by-visible-text':
          visibleRule = ['element', 'value', 'waiting_time'];
          break;
        
        case 'script':
          visibleRule = ['waiting_time', 'script'];
          break;

        default:
          visibleRule = ['element', 'waiting_time'];
          break;
      }

      for(const vRule of visibleRule) {
        this.visibleElement[vRule] = true;
      }
      this.commandAction.command_params_info = this.commandAction.command_params_info.map(item => {
        if(!visibleRule.includes(item.attributeTo)) {
          item.checked = false;
        }
        return item;
      });
    },
    onInsertBelow() {
      this.$emit('insert-below', this.index);
    },
    initParams() {
      const elements = ['element', 'elementTo', 'xFrom', 'yFrom', 'value'];
      const commandParamsInfo = {};

      for (const key of elements) {
        commandParamsInfo[key] = {
          id: null,
          name: null,
          checked: false,
          attributeTo: key,
          param_replace_type: 'replace-all',
          param_default_value: null,
        };
      }

      return commandParamsInfo;
    },
    chooseSwap() {
      this.$emit('onSwap', {value: !this.swap, index: this.index});
    },
    setupData() {
      const initCommandParamsInfo = this.initParams();
      if (this.commandAction.command_params_info && this.commandAction.command_params_info.length > 0) {
        for (const commandParamInfo of this.commandAction.command_params_info) {
          if(typeof commandParamInfo.checked === 'undefined') {
            initCommandParamsInfo[commandParamInfo.attributeTo] = {...commandParamInfo, checked: true};
          } else {
            initCommandParamsInfo[commandParamInfo.attributeTo] = {...commandParamInfo};
          }
        }
      }

      this.commandAction.command_params_info = Object.values(initCommandParamsInfo);
      this.setupElementVisible();
    }
  },
  mounted () {
    this.setupData();
  },
  components: {
    CommandParams,
  }
};
</script>

