<div class="backgroud-step">
    <a class="f-left cusfa cus-add" @click="chooseSwap" data-toggle="tooltip" data-placement="top" title="Change Order">
        <i class="fas fa-retweet c-blue" :style="commandAction.swap == true ? 'color:red' : ''"></i>
    </a>
    <a class="f-left cusfa cus-add" @click="onInsertBelow()" data-toggle="tooltip" data-placement="top" title="Add New">
        <i class="fas fa-plus c-blue"></i>
    </a>
    <a class="btn expand" style="box-shadow: none;" data-toggle="collapse" :href="'#collapseExample' + index" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        Step {{index + 1}}
        <i class="fas fa-angle-right m-l-10"></i>
    </a>
    <a class="cusfa f-right m-r-10" @click="removeElement">
        <i class="fas fa-times cus-remove"></i>
    </a>

    <div class="collapse" :id="'collapseExample' + index">
        <div class="card card-body">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    <label for="action">Action</label>
                    <select class="form-control" v-model="commandAction.action" @change="changeTypeInput">
                        <option v-for="option in actions" :value="option.value">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4" v-if="visibleElement.waiting_time">
                    <label for="waiting_time">Waiting Time</label>
                    <input type="number" v-model="commandAction.waiting_time" v-validate="'required'" name="input-wait"
                        class="form-control" id="wait" aria-describedby="waiting time" placeholder="Enter Waiting Time">
                    <span style="color: red">{{ errors.first('input-wait') }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-8" v-if="visibleElement.element">
                        <label for="element">{{elementName.element}}</label>
                        <command-params elementName="element" :command_params_info="commandAction.command_params_info[0]" :index="index"/>
                        <textarea type="text" v-model="commandAction.element" v-validate="'required'" name="input-element"
                            class="form-control" id="element" aria-describedby="emailHelp" placeholder="Enter Element"
                            rows="3"></textarea>
                        <span style="color: red">{{ errors.first('input-element') }}</span>
                    </div>
                    <div class="form-group col-md-2" v-if="visibleElement.xFrom">
                        <label for="inputZip">{{elementName.offsetX}}</label>
                        <command-params :is-show-only-name="true" elementName="xFrom" :command_params_info="commandAction.command_params_info[2]" :index="index"/>
                        <input type="number" v-model="commandAction.xFrom" class="form-control" min="1">
                    </div>
                    <div class="form-group col-md-2" v-if="visibleElement.yFrom">
                        <label for="inputZip">{{elementName.offsetY}}</label>
                        <command-params :is-show-only-name="true" elementName="yFrom" :command_params_info="commandAction.command_params_info[3]" :index="index"/>
                        <input type="number" v-model="commandAction.yFrom" class="form-control">
                    </div>
                </div>
                <div class="form-row" v-if="visibleElement.elementTo">
                    <div class="form-group col-md-8">
                        <label for="element">{{elementName.elementTo}}</label>
                        <command-params elementName="elementTo" :command_params_info="commandAction.command_params_info[1]" :index="index"/>
                        <textarea type="text" v-model="commandAction.elementTo" v-validate="'required'" name="input-element-to"
                            class="form-control" id="element" aria-describedby="emailHelp" placeholder="Enter Element"
                            rows="3"></textarea>
                        <span style="color: red">{{ errors.first('input-element-to') }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group" v-if="visibleElement.value">
                <label for="value">Value</label>
                <command-params elementName="value" :command_params_info="commandAction.command_params_info[4]" :index="index"/>
                <input type="text" v-model="commandAction.value" class="form-control" id="value" placeholder="Enter Value">
            </div>
        </div>
    </div>
</div>