<template id="command-param" src="./command-params.html">
</template>

<script>
export default {
  template: '#command-param',
  name: 'CommandParams',
  props: ['command_params_info', 'elementName', 'index', 'isShowOnlyName'],
  data() {
    return {
      param_actions: [
        { value: 'replace-all', name: 'Replace Default Value' },
        { value: 'replace-partial', name: 'Replace at \'#param#\'' },
        { value: 'insert-at-last', name: 'Insert At Last' },
      ],
    };
  },
  computed: {
  },
  watch: {
  },
  methods: {},
};
</script>

