<div class="div-param">
    <div class="custom-control custom-checkbox checkbox-param">
        <input type="checkbox" v-model="command_params_info.checked"
            class="custom-control-input" :id="elementName + index">
        <label class="custom-control-label" :for="elementName + index">Param</label>
    </div>
    <div v-if="command_params_info.checked">
        <div class="element-param">
            <input type="text" v-model="command_params_info.name" name="name-param" class="form-control"
                id="name" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <select v-if="!isShowOnlyName" class="form-control mb-2 cus-select-param" v-model="command_params_info.param_replace_type">
            <option v-for="option in param_actions" :value="option.value">{{option.name}}</option>
        </select>
        <div class="value-param" v-if="!isShowOnlyName">
            <input v-model="command_params_info.param_default_value" type="text" name="replace-value"
                class="form-control" id="replace" aria-describedby="emailHelp" placeholder="Default #param#">
        </div>
    </div>
</div>