<div>
    <div class="row">
        <div class="form-group col-6">
            <label for="site">Name</label>
            <input type="text" v-model="command.name" class="form-control" id="site" aria-describedby="testcase name" placeholder="Enter name">
        </div>
        <div class="form-group col-6">
            <label for="project">Project</label>
            <select class="form-control mb-2" v-model="command.project">
                <option v-for="option in options.projects" :value="option">{{option.name}}</option>
            </select>
        </div>
    </div>

    <hr/>
    <strong>Actions:</strong>
    <button type="button" class="btn btn-outline-primary" @click="onInsertInputBelow(command.command_actions.length)" style="float: right">
        <i class="fas fa-plus m-r-5"></i>Add Step</button>
    <div id="ba-input-command">
        <command-action @onSwap="onClickSwapItem" :command-action="command_action" v-for="(command_action, index) in command.command_actions"
        :index="index" :key="'input' + index"
        @remove="removeElement($event)" @insert-below="onInsertInputBelow" />
    </div>
    
    <hr/>
    <div class="alert alert-primary" role="alert" style="margin-top: 10px" v-if="showAlertSave">
        Save Successful! ~
    </div>
    <div class="alert alert-danger" role="alert" style="margin-top: 10px" v-if="showFaildSave">
        Data invalid, please check it again! ~
    </div>
    <button type="button" @click.prevent="onSave" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save</button>
    <button type="button" @click.prevent="onSaveCopy" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save & Copy</button>
    <button type="button" @click.prevent="onSaveNew" class="btn btn-danger" style="margin-top: 10px; margin-left: 20px">Save & New</button>
</div>