<template id="command" src="./form.html">
</template>

<script>
  import CommandAction from './command-action.vue';
  import * as commandsService from '../../../services/commands.service';
  import * as testcaseService from '../../../services/testcase.service';

  export default {
    template: '#command',
    name: 'Command',
    props: [],
    data() {
      return {
        isSubmiting: false,
        command: {},
        showAlertSave: false,
        showFaildSave: false,
        options: {
          projects: [],
        },
        params: [],
        mockCommandAction: {
          id: null,
          action: 'input',
          value: null,
          order: null,
          element: null,
          elementTo: null,
          waiting_time: 0,
          xFrom: 0,
          yFrom: 0,
          xTo: 0,
          yTo: 0,
          command_params_info: [],
          swap: false,
        },
        arrayStepsSwap: [],
        removedCommandActions: [],
      };
    },
    computed: {},
    watch: {
      arrayStepsSwap() {
        if (this.arrayStepsSwap.length == 2) {
          this.isSubmiting = !this.isSubmiting;
          const _this = this;
          setTimeout(() => {
            _this.onSwap(_this.arrayStepsSwap[0], _this.arrayStepsSwap[1]);
          }, 200);
        }
      },
    },
    created() {
      this.initData();
    },
    async mounted() {
      await this.getOptions();
      if (this.$route.params.id) {
        await this.getCommand(this.$route.params.id);
      }
    },
    methods: {
      initData() {
        this.command = {
          id: null,
          name: null,
          project: null,
          command_actions: [],
          swap: false,
        };
      },
      async getCommand(id) {
        this.command = await commandsService.http.getCommand(id);
        this.command.command_actions = this.command.command_actions.map(
          action => {
            return {
              ...action,
              swap: false,
            };
          },
        );
      },
      async getOptions() {
        this.options.projects = await testcaseService.http.getProjects();
      },
      removeElement(index) {
        if (this.command.command_actions[index].id !== null) {
          this.removedCommandActions.push(this.command.command_actions[index].id);
        }
        this.command.command_actions.splice(index, 1);
      },
      onInsertInputBelow(inputIndex) {
        if (inputIndex === this.command.command_actions.length - 1) {
          this.command.command_actions.push({ ...this.mockCommandAction });
          return;
        }

        this.command.command_actions.splice(inputIndex + 1, 0, {
          ...this.mockCommandAction,
        });
      },

      async save() {
        this.ShowFaildSave = false;
        if (this.command.name === null || this.command.name === '') {
          this.showFaildSave = true;
          return false;
        }

        let validToSave = true;
        const commandActions = this.command.command_actions.filter(action => {
          return action.command_params_info.length > 0;
        });

        if (commandActions.length > 0) {
          const commandParamsInfoNotValid = commandActions
            .map(action => {
              return action.command_params_info;
            })[0]
            .filter(paramsInfo => {
              if (
                paramsInfo.checked === true &&
                (paramsInfo.name === null || paramsInfo.name === '')
              ) {
                return true;
              }
              return false;
            });

          if (commandParamsInfoNotValid.length > 0) {
            validToSave = false;
          }
        }

        if (!validToSave) {
          this.showFaildSave = true;
          return false;
        }

        // set order for command_actions
        this.command.command_actions = this.command.command_actions.map(
          (item, index) => {
            item.order = index + 1;
            return item;
          },
        );

        // Save command data
        const commandSaved = await commandsService.http.save(this.command);

        // Delete command actions
        if (this.removedCommandActions.length > 0) {
          await commandsService.http.deleteActions(this.removedCommandActions);
        }

        // Delete command params info
        let removedCommandParamsInfo = this.command.command_actions
          .map(action => {
            return action.command_params_info;
          })[0]
          .filter(commandParamInfo => {
            return (
              commandParamInfo.id !== null && commandParamInfo.checked === false
            );
          });
        if (removedCommandParamsInfo.length > 0) {
          await commandsService.http.deleteCommandParamsInfo(
            removedCommandParamsInfo.map(i => {
              return i.id;
            }),
          );
        }

        if (commandSaved.status !== 201) {
          this.showFaildSave = true;
          return false;
        }

        return commandSaved.data;
      },

      async onSave() {
        const commandSaved = await this.save();
        if (commandSaved === false) {
          return;
        }

        this.$router.push({ path: '/command-table' });
      },

      async onSaveNew() {
        const commandSaved = await this.save();
        if (commandSaved === false) {
          return;
        }

        this.$router.push({ path: '/command' });
        this.initData();
      },

      async onSaveCopy() {
        const commandSaved = await this.save();
        if (commandSaved === false) {
          return;
        }

        this.$router.push({ path: '/command' });
        this.command.id = null;
        this.command.command_actions = this.command.command_actions.map(
          action => {
            action.id = null;
            action.command_params_info = action.command_params_info.map(item => {
              item.id = null;
              return item;
            });

            return action;
          },
        );
      },

      onClickSwapItem(event) {
        this.command.command_actions[event.index].swap = event.value;
        const temp = this.arrayStepsSwap.filter(item => {
          return item === event.index;
        });

        if (temp.length > 0) {
          this.arrayStepsSwap = [];
        } else {
          this.arrayStepsSwap.push(event.index);
        }
      },

      onSwap(index1, index2) {
        const step1 = { ...this.command.command_actions[index1] };

        if (index1 < index2) {
          index2 = index2 + 1;
        } else {
          index1 = index1 + 1;
        }

        this.command.command_actions.splice(index2, 0, step1);
        this.command.command_actions.splice(index1, 1);

        this.command.command_actions = this.command.command_actions.map(item => {
          item.swap = false;
          return item;
        });

        this.arrayStepsSwap = [];
      },
    },
    components: {
      CommandAction,
    },
  };
</script>