<div>
    <h1>Tags Management</h1>
    <SharedTable @delete="selectedRow = $event" :rows="rows" @create="initSelectedRow" @edit="onEdit"
        @search="onSearch" />
    <Pagination :total-records="totalRecords" :current-page="query.pageNum + 1" :per-page="query.perPage" @change-page="onChangePage"
    />
    <customModal modal-id="deleteModal" title="Delete Tag" @confirm="onDelete()">
        <template slot="modal-body">
            <strong>Are you sure to delete this tag?</strong>
        </template>
    </customModal>
    <customModal modal-id="tagModal" :title="selectedRow.id == null ? 'Create Tag' : 'Edit Tag'" @confirm="save()">
        <template slot="modal-body">
            <div class="form-group">
                <label for="element">Name</label>
                <input type="text" v-model="selectedRow.name" v-validate="'required'" name="tag-name" class="form-control" id="tagName" aria-describedby="Tag Name"
                    placeholder="Enter Tag Name">
                <span style="color: red">{{ errors.first('tag-name') }}</span>
            </div>
        </template>
    </customModal>
</div>