<template id="tag" src="./tag.html">
</template>

<script>
import SharedTable from './../shared/table/table.vue';
import customModal from './../modal/modal.vue';
import Pagination from './../pagination/pagination.vue';
import * as tagService from '../../services/tag.service';

export default {
  template: '#tag',
  name: 'Tag',
  props: ['tag', 'isSaving'],
  data() {
    return {
      query: {
        perPage: 10,
        pageNum: 0,
        search_term: null,
      },
      rows: [],
      selectedRow: {
        id: null,
        name: null,
      },
      totalRecords: null,
      options: [],
    };
  },
  computed: {},
  watch: {
    isSaving() {
      this.$emit('save', this.selectedRow);
    },
    selectedRow() {
      this.options = this.rows.filter(item => {
        return item.id !== this.selectedRow.id;
      });
    },
  },
  methods: {
    async onChangePage(page) {
      this.query.pageNum = page;
      await this.getTags();
    },
    async onDelete() {
      await tagService.http.delete(this.selectedRow);
      await this.getTags();
    },
    async getTags() {
      const res = await tagService.http.getTags(this.query);
      this.rows = res.tags;
      this.totalRecords = res.total;
      this.options = this.rows;
    },
    async save() {
      await tagService.http.save(this.selectedRow);
      await this.getTags();
    },
    async onSearch(search_term) {
      this.query.search_term = search_term;
      await this.getTags();
    },
    onEdit($event) {
      this.selectedRow = Object.assign({}, $event);
    },
    initSelectedRow() {
      this.selectedRow = {
        id: null,
        name: null,
      };
    },
  },
  async mounted() {
    await this.getTags();
  },
  components: {
    SharedTable,
    customModal,
    Pagination,
  },
};
</script>

