<div>
  <nav aria-label="...">
    <ul class="pagination" style="display: block">
      <li class="page-item " :disabled="currentPage > 0">
        <a class="page-link" @click="changePage(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" v-for="page in previousPages">
        <a class="page-link" @click="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item active">
        <a class="page-link">{{ currentPage }}</a>
      </li>
      <li class="page-item" v-for="page in behindPages">
        <a class="page-link" @click="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" :disabled="currentPage < totalPages">
        <a class="page-link" @click="changePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>

</div>