<template id="pagination" src="./pagination.html">
</template>

<script>

export default {
  template: '#pagination',
  name: 'Pagination',
  props: ['totalRecords', 'perPage', 'currentPage'],
  data() {
    return {

    };
  },
  computed: {
    totalPages () {
      let page = this.totalRecords / this.perPage;
      if(parseInt(page) - page < 0)
        return parseInt(page) + 1;
      return parseInt(page);
    },
    previousPages () {
      const page = [];
      this.currentPage - 2 > 0 && page.push(this.currentPage - 2);
      this.currentPage - 1 > 0 && page.push(this.currentPage - 1);

      return page;
    },
    behindPages () {
      const page = [];
      this.currentPage + 1 <= this.totalPages && page.push(this.currentPage + 1);
      this.currentPage + 2 <= this.totalPages && page.push(this.currentPage + 2);

      return page;
    }
  },
  methods: {
    changePage(page) {
      if(page == this.currentPage || page < 1 || page > this.totalPages) {
        return ;
      }
      this.$emit('change-page', page - 1);
    }
  },
};
</script>

<style scoped>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #003fa5;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
</style>


