<div>
    <div class="row">
        <form class="form-inline col-6">
            <div class="form-group mb-2">
                <div class="input-group mb-2">
                    <input type="text" v-on:keyup.enter.prevent="onSearch" v-model="query.search_term" placeholder="Search..."
                        class="form-control" aria-label="Text input with radio button">
                    <div class="input-group-append">
                        <div class="input-group-text" @click="onSearch" style="cursor: pointer;">
                            <a>
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-6">
            <button class="btn btn-info f-right" data-toggle="modal" data-target="#helper" style="margin-left: 15px">
                <i class="fas fa-exclamation"></i>
            </button>
            <button type="button" class="btn btn-danger f-right" style="margin-left: 15px" data-toggle="modal"
                data-target="#deleteMultiModal">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
            <button type="button" class="btn btn-danger f-right" style="margin-left: 15px" @click="exportAll">
                <i class="fas fa-file-export"></i> Export all
            </button>
            <button type="button" data-toggle="modal" data-target="#importModal" class="btn btn-danger f-right" style="margin-left: 15px">
                <i class="fas fa-file-import"></i> Import
            </button>
            <button @click="onOpenCreateModal()" class="btn btn-primary f-right" data-toggle="modal" data-target="#tagModal">
                <i class="fas fa-plus"></i> Create
            </button>
        </div>
    </div>

    <div class="custom-table">
        <table id="myTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 50px; margin: auto">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" v-model="selectAll" @click="onSelectAll" class="custom-control-input"
                                id="customCheckAll">
                            <label class="custom-control-label" for="customCheckAll"></label>
                        </div>
                    </th>
                    <th>ID</th>
                    <th style="min-width:200px">Name</th>
                    <th>Value</th>
                    <th>Describe</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in rows" :key="index" @click="onClickRow(row)">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" v-model="row.selected" @click="checked(row)" class="custom-control-input"
                                :id="'customCheck' + index">
                            <label class="custom-control-label" :for="'customCheck' + index"></label>
                        </div>
                    </td>
                    <td>{{ row.id }}</td>
                    <td>
                        <a>{{ row.name }}</a>
                    </td>
                    <td>{{ row.value }}</td>
                    <td>{{ row.describe }}</td>
                    <td>
                        <a data-toggle="modal" data-target="#tagModal" style="cursor: pointer;" @click="selectedRow = row">
                            <i class="fas fa-edit m-l-10 c-blue"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination :total-records="total" :current-page="query.pageNum + 1" :per-page="query.perPage" @change-page="onChangePage" />

    <customModal modal-id="deleteMultiModal" title="Delete Multi Objects" @confirm="onDeleteMultiple()">
        <template slot="modal-body">
            <strong>Are you sure to delete params?</strong>
        </template>
    </customModal>

    <customModal modal-id="tagModal" :title="selectedRow.id==null ? 'Create New Param' : 'Edit Param'" @confirm="save()">
        <template slot="modal-body">
            <div class="form-group">
                <label for="element">Name</label>
                <input type="text" v-model="selectedRow.name" v-validate="'required'" name="project-name" class="form-control"
                    id="paramName" aria-describedby="Param Name" placeholder="Enter Param Name">
                <span style="color: red">{{ errors.first('project-name') }}</span>
            </div>
            <div class="form-group">
                <label for="element">Value</label>
                <input type="text" v-model="selectedRow.value" v-validate="'required'" name="project-value" class="form-control"
                    id="paramValue" aria-describedby="Param Value" placeholder="Enter Param Value">
                <span style="color: red">{{ errors.first('project-value') }}</span>
            </div>
            <div class="form-group">
                <label for="element">Describe (optional)</label>
                <input type="text" v-model="selectedRow.describe" name="project-describe" class="form-control" id="paramDescribe"
                    aria-describedby="Param describe" placeholder="Enter Param Describe">
            </div>
        </template>
    </customModal>
    <customModal modal-id="helper" title="User manual">
        <template slot="modal-body">
            <div class="alert alert-info" role="alert">
                <p>You can put param <strong>any where</strong> in your <strong>steps</strong> or <strong>respect outputs</strong></p>
                <p><strong>ex:</strong> Param with name: <strong>'my_param'</strong> with value: <strong>'my_value'</strong></p>
                <p>In use:</p>
                <p><strong>'Hello this is {my_param}'</strong></p>
                ==> Run result: <strong>'Hello this is my_value'</strong>
            </div>
        </template>
    </customModal>
    <customModal modal-id="importModal" title="Import Params" @confirm="uploadFile">
        <template slot="modal-body">
            <div class="form-group">
                <label for="exampleFormControlFile1">File: </label>
                <input type="file" name="file" @change="filesChange($event.target.name, $event.target.files)" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </template>
    </customModal>
</div>