<template id="default_params" src="./default_params.html">
</template>

<script>
import customModal from './../modal/modal.vue';
import Pagination from './../pagination/pagination.vue';
import * as defaultParamsService from '../../services/default_params.service';

export default {
  template: '#default_params',
  name: 'DefaultParams',
  props: [],
  data() {
    return {
      query: {
        search_term: '',
        perPage: 20,
        pageNum: 0,
      },
      selectedRow: {},
      total: 0,
      rows: [],
      selectAll: false,
      fileUpload: {
        name: null,
        file: null,
      },
    };
  },
  computed: {},
  methods: {
    async uploadFile() {
      if (this.fileUpload.file) {
        await defaultParamsService.http.uploadFile(this.fileUpload.file);
        await this.getAll();
      }
    },
    filesChange(name, files) {
      this.fileUpload.name = name;
      this.fileUpload.file = files[0];
    },
    async exportAll() {
      await defaultParamsService.http.exportDefaultParams();
    },
    async getAll() {
      const response = await defaultParamsService.http.getAll(this.query);
      this.rows = response.default_params.map(item => {
        return {
          ...item,
          selected: false,
        };
      });
      this.total = response.total;
    },
    async onSearch() {
      await this.getAll();
    },
    onSelectAll() {
      const _this = this;
      setTimeout(() => {
        _this.rows = _this.rows.map(item => {
          item.selected = _this.selectAll;
          return item;
        });
      }, 100);
    },
    checked(row) {
      row.selected = !row.selected;
      if (!row.selected) {
        this.selectAll = false;
      }
    },
    async onChangePage(page) {
      this.query.pageNum = page;
      await this.getAll(this.query);
    },
    async onDeleteMultiple() {
      const rowsSelect = this.rows.filter(item => item.selected === true);
      if (!rowsSelect.length) {
        return;
      }

      await defaultParamsService.http.delete(
        rowsSelect.map(i => {
          return i.id;
        }),
      );
      await this.getAll();
    },
    async save() {
      if (this.selectedRow.name === '' || this.selectedRow.value === '') {
        return;
      }

      const response = await defaultParamsService.http.save(this.selectedRow);
      if (response.error) {
        window.alert(response.error);
      }
      await this.getAll();
    },
    onOpenCreateModal() {
      this.selectedRow = {
        name: '',
        value: '',
        describe: '',
      };
    },
    onClickRow(row) {
      this.selectedRow = {
        ...row,
      };
    },
  },
  async mounted() {
    await this.getAll();
  },
  components: {
    Pagination,
    customModal,
  },
};
</script>